# <center>**EXPLORING THE NYC PROPERTY MARKET**</center>

<center>The goal of this analysis is to provide real estate investors and developers insights into the NYC property market.
Helping them make informed decisions about which properties to invest in, which areas are experiencing the most growth, etc.</center>

**The following link is dataset dictionary that describes the variables included in the dataset and analysis: https://shorturl.at/atCI4**

### Data Architecture

As of now, the architecture of the project is built on a **data mart**.
* The decision to use a data mart is sensible for the current state of the project since it has a specific function, which is to calculate property tax bills, and it does not need to handle real-time data.
* Additionally, the *data* mart focuses on a specific business department of the company, which is real estate.

However, **if the project scales** up and the data volume increases significantly over time, **it may be necessary to start thinking about investing in a data warehouse**.
* A data warehouse would provide greater efficiency in handling large volumes of data and would allow for more complex analyses of data from multiple sources. Therefore, if the project continues to grow and expand, investing in a data warehouse would be a wise decision to ensure its continued success.



# **1. Data Collection, Preparation, and Exploration**
This section of the code aims to download a CSV data file from the NYC Open Data API, clean the data, and explore it.

## A)Download csv data file from API
Goal: Downloads a CSV data file from the API endpoint using the requests library in Python.

In [ ]:
'''Define Key to authenticate with the API '''

api_key = 'b2efwisd9yp6neeg2t8q2b7fo'
api_key_secret = '24wzo34mrojiwo3cy7v63pgms939h3mbataugnn93cxr3x1a7m'
app_token = '64Qf62V7kfyNmLx6L7c9aAbEo'

In [ ]:
import requests

# Endpoint URL
url = "https://data.cityofnewyork.us/resource/yjxr-fw8i.csv?$limit=9850000"

# Send a GET request to the API endpoint and save the response
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # If successful, save the response content as a CSV file
    with open("property_valuation.csv", "wb") as f:
        f.write(response.content)
    print("File downloaded successfully.")
else:
    print("Error downloading file.")

File downloaded successfully.

## B) Data cleaning
Goal: Extracting the first four characters from the "year" column using Pandas, then exports the modified DataFrame to a new CSV file. This was done to facilitate the creation of visualizations (end of the document)

In [ ]:
import pandas as pd
df = pd.read_csv("property_valuation.csv")

In [ ]:
len(df)

9845857

In [ ]:
# Extract first four characters from the "year" column
df['year'] = df['year'].astype(str).str[:4]

In [ ]:
df.head()

,bble,boro,block,lot,easement,owner,bldgcl,taxclass,ltfront,ltdepth,...,valtype,borough,latitude,longitude,community_board,council_district,census_tract,bin,nta,geocoded_column
0,1000163859,1,16,3859,NaN,"CHEN, QI TOM",R4,2,0,0,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000730028,1,73,28,NaN,NYC DSBS,V1,4,183,52,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000730029,1,73,29,NaN,NYC DSBS,Y7,4,90,500,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000297504,1,29,7504,NaN,NaN,R0,2,36,73,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000360012,1,36,12,NaN,NYC DSBS,Y7,4,534,604,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Export the modified DataFrame to a new CSV file
df.to_csv('property_valuation_clean.csv', index=False)

## C) Explore data

Goal: Explores the data by reading the cleaned CSV file into a Pandas DataFrame, displaying the first few rows of data, printing the column names, checking for duplicate values in the "lot" column, and checking the number of missing values in each column.

In [ ]:
import pandas as pd
df = pd.read_csv('property_valuation_clean.csv')
df.head()

,bble,boro,block,lot,easement,owner,bldgcl,taxclass,ltfront,ltdepth,...,valtype,borough,latitude,longitude,community_board,council_district,census_tract,bin,nta,geocoded_column
0,1000163859,1,16,3859,NaN,"CHEN, QI TOM",R4,2,0,0,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000730028,1,73,28,NaN,NYC DSBS,V1,4,183,52,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000730029,1,73,29,NaN,NYC DSBS,Y7,4,90,500,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000297504,1,29,7504,NaN,NaN,R0,2,36,73,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000360012,1,36,12,NaN,NYC DSBS,Y7,4,534,604,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# column names
df.columns

Index(['bble', 'boro', 'block', 'lot', 'easement', 'owner', 'bldgcl',
       'taxclass', 'ltfront', 'ltdepth', 'ext', 'stories', 'fullval', 'avland',
       'avtot', 'exland', 'extot', 'excd1', 'staddr', 'zip', 'exmptcl',
       'bldfront', 'blddepth', 'avland2', 'avtot2', 'exland2', 'extot2',
       'excd2', 'period', 'year', 'valtype', 'borough', 'latitude',
       'longitude', 'community_board', 'council_district', 'census_tract',
       'bin', 'nta', 'geocoded_column'],
      dtype='object')

In [ ]:
# "lot" column has duplicate values
df.duplicated(subset=["lot"]).value_counts()

True     9839309
False       6548
dtype: int64

In [ ]:
# check duplicates for each column
for col in df.columns:
    print(col)
    print(df[col].value_counts())

bble
1000163859    9
4040000032    9
4040510010    9
4040400007    9
4035060030    9
             ..
3030511002    1
4030981428    1
3024711001    1
2025480002    1
5057350439    1
Name: bble, Length: 1128885, dtype: int64
boro
4    3274600
3    2989663
1    1382564
5    1231251
2     967779
Name: boro, dtype: int64
block
16       36515
3944     34992
3943     30816
3938     25146
1171     24755
         ...
15942        7
16093        3
4356         3
15912        1
15911        1
Name: block, Length: 13985, dtype: int64
lot
1       218063
20      110187
15      108981
12      108813
14      108193
         ...
5660         8
9133         6
9136         6
8901         2
5430         2
Name: lot, Length: 6548, dtype: int64
easement
E    36941
F     2648
G      910
H      293
N      171
I      140
J       72
K       47
L       27
P       27
M       18
U        9
A        4
B        1
Name: easement, dtype: int64
owner
PARKCHESTER PRESERVAT    53751
PARKS AND RECREATION     38671
OWNER / AGENT            17478
HOUSING PRESERVATION     14328
CITY OF NEW YORK         10588
                         ...
GAYLOR, LEE A JR             1
SARANGA, EILEEN A            1
SELL DIRECT LLC              1
SALIU, BURIM                 1
SINCLAIR, JOHN H             1
Name: owner, Length: 1470316, dtype: int64
bldgcl
R4    1369710
A1    1111383
A5     882089
B1     761357
B2     704461
       ...
I3         28
H7         24
Y5         12
CM          3
E6          1
Name: bldgcl, Length: 218, dtype: int64
taxclass
1     5954092
2     1827894
4      985589
2A     364658
1B     210844
1A     200623
2B     126768
2C     122138
3       41487
1C      11503
1D        261
Name: taxclass, dtype: int64
ltfront
0       1577525
20      1214188
25      1052951
40       768327
18       365343
         ...
2685          1
4775          1
1311          1
619           1
1400          1
Name: ltfront, Length: 1328, dtype: int64
ltdepth
100     4187080
0       1658448
95       286107
90       185179
80       151799
         ...
1647          2
1638          2
1059          1
903           1
852           1
Name: ltdepth, Length: 1391, dtype: int64
ext
G     2396173
E      446167
EG     339178
Name: ext, dtype: int64
stories
2.0      3751424
3.0      1190590
1.0       853366
2.5       739437
4.0       370913
          ...
95.0           3
71.0           3
102.0          2
4.6            2
205.0          1
Name: stories, Length: 128, dtype: int64
fullval
0          127892
400000      15861
422000      15816
439000      15722
394000      15525
            ...
1342100         1
885666          1
1541366         1
905772          1
7598600         1
Name: fullval, Length: 579432, dtype: int64
avland
0          127915
45000       11176
90000        9254
18000        8112
9000         7768
            ...
132308          1
1268158         1
72222           1
101409          1
217358          1
Name: avland, Length: 171876, dtype: int64
avtot
0           127897
26872        19252
21496        18846
22394        18631
29859        18024
             ...
177931           1
2037312          1
271620           1
13428000         1
742026           1
Name: avtot, Length: 395031, dtype: int64
exland
0          5198760
1620        357242
1600        336868
1670        336129
1740        333603
            ...
131356           1
151927           1
98243            1
69242            1
7072650          1
Name: exland, Length: 83255, dtype: int64
extot
0           4620738
1620         354917
1600         334968
1670         334071
1740         331488
             ...
16449750          1
23060250          1
304802            1
10098900          1
9971100           1
Name: extot, Length: 243174, dtype: int64
excd1
1017.0    3247620
1010.0     398276
1015.0     293121
5113.0     279684
1920.0     170414
           ...
3700.0          5
1841.0          5
1965.0          4
3600.0          4
5100.0          4
Name: excd1, Length: 145, dtype: int64
staddr
501 SURF AVENUE              8104
330 EAST 38 STREET           7409
322 WEST 57 STREET           6303
155 WEST 68 STREET           6039
20 WEST 64 STREET            5913
                             ...
6312 OCEAN AVENUE NORTH         1
6-03 WHITESTONE EXPWY           1
184-25 GRAND CENTRAL PKWY       1
6311 OCEAN AVENUE NORTH         1
37       BROOKSIDE LOOP         1
Name: staddr, Length: 861581, dtype: int64
zip
10314.0    223410
11234.0    180259
10312.0    165188
10462.0    152208
10306.0    150443
            ...
10110.0         2
10179.0         1
12345.0         1
10165.0         1
11352.0         1
Name: zip, Length: 238, dtype: int64
exmptcl
X1    61646
X5    46408
X7     7136
X2     6881
X6     6750
X4     3947
X8     2597
X3     2226
X9      972
VI        9
KI        9
A9        9
R4        9
5         9
Name: exmptcl, dtype: int64
bldfront
0      2212337
20     1751659
18      696116
16      672249
25      576155
        ...
881          1
489          1
964          1
501          1
319          1
Name: bldfront, Length: 642, dtype: int64
blddepth
0       2193434
40       438962
50       412647
45       367512
36       359192
         ...
4176          1
4524          1
1003          1
6050          1
780           1
Name: blddepth, Length: 636, dtype: int64
avland2
45000.0      6785
90000.0      6077
135000.0     4478
225000.0     4267
67500.0      4189
             ...
317658.0        1
68413.0         1
2317276.0       1
51324.0         1
200734.0        1
Name: avland2, Length: 166118, dtype: int64
avtot2
750.0        669
749.0        556
75.0         436
73.0         416
74.0         416
            ...
921262.0       1
1881807.0      1
778209.0       1
2717730.0      1
499455.0       1
Name: avtot2, Length: 540296, dtype: int64
exland2
2260.0      44106
2350.0      32419
2090.0      26423
2250.0      21961
2360.0      16838
            ...
112185.0        1
207858.0        1
28622.0         1
799425.0        1
41298.0         1
Name: exland2, Length: 101773, dtype: int64
extot2
2260.0        41362
2350.0        30969
2090.0        24760
2250.0        20830
2360.0        16160
              ...
3994920.0         1
336157.0          1
10680412.0        1
356867.0          1
398322.0          1
Name: extot2, Length: 265187, dtype: int64
excd2
1017.0    552588
1015.0     97996
5112.0     46414
1019.0     29302
1920.0     22993
           ...
4500.0         2
1401.0         1
1925.0         1
1102.0         1
6180.0         1
Name: excd2, Length: 69, dtype: int64
period
FINAL    9845857
Name: period, dtype: int64
year
2018    1116592
2017    1110058
2016    1103323
2015    1096247
2014    1093327
2013    1088350
2012    1086396
2011    1080569
2010    1070995
Name: year, dtype: int64
valtype
AC-TR    9845857
Name: valtype, dtype: int64
borough
QUEENS       3158322
BROOKLYN     2924705
MANHATTAN    1367427
STATEN IS    1123915
BRONX         929433
Name: borough, dtype: int64
latitude
40.574897    8140
40.746742    7427
40.767077    6321
40.775704    6039
40.771430    5931
             ...
40.807100       1
40.541638       1
40.512995       1
40.536369       1
40.523785       1
Name: latitude, Length: 296933, dtype: int64
longitude
-73.973978    8230
-73.972741    7409
-73.983755    6327
-73.982659    6057
-73.980335    5949
              ...
-74.231971       1
-74.066116       1
-74.221768       1
-74.183235       1
-74.200021       1
Name: longitude, Length: 345997, dtype: int64
community_board
503.0    428932
407.0    410749
413.0    380801
412.0    360547
501.0    357767
          ...
226.0        16
482.0        11
164.0         9
480.0         9
483.0         5
Name: community_board, Length: 71, dtype: int64
council_district
51.0    424071
50.0    397015
19.0    340759
46.0    308131
49.0    302608
27.0    301411
30.0    286132
4.0     269193
32.0    265749
28.0    261427
23.0    260650
33.0    253920
39.0    241763
31.0    235726
3.0     230145
43.0    226954
20.0    224909
48.0    220022
13.0    218198
18.0    216930
1.0     208599
45.0    193137
22.0    186958
24.0    185209
44.0    184504
47.0    183828
6.0     175992
29.0    166021
38.0    164799
37.0    163466
12.0    160070
34.0    156528
26.0    156195
36.0    150808
35.0    149739
42.0    143027
5.0     140749
41.0    129683
25.0    126156
21.0    125785
2.0     125376
9.0      92624
40.0     87335
11.0     85878
17.0     83763
7.0      68322
15.0     65691
8.0      56134
14.0     37019
16.0     35018
10.0     26988
Name: council_district, dtype: int64
census_tract
7.0        45822
138.0      44873
70.0       43353
21.0       41757
151.0      38407
           ...
793.0          9
5.0            9
624.0          9
1210.0         9
64102.0        2
Name: census_tract, Length: 1327, dtype: int64
bin
3000000.0    45963
2000000.0    24443
4000000.0    20507
1000000.0    12134
5000000.0     8999
             ...
3339178.0        1
4557837.0        1
5158332.0        1
1084399.0        1
5158107.0        1
Name: bin, Length: 821256, dtype: int64
nta
South Ozone Park                   130408
Canarsie                           124331
Borough Park                       122431
Park Slope-Gowanus                 115800
Great Kills                        114566
                                    ...
park-cemetery-etc-Manhattan           171
Stuyvesant Town-Cooper Village         47
park-cemetery-etc-Staten Island        27
Rikers Island                          27
Airport                                14
Name: nta, Length: 195, dtype: int64
geocoded_column
POINT (-73.973978 40.574897)    8122
POINT (-73.972741 40.746742)    7409
POINT (-73.983755 40.767077)    6303
POINT (-73.982659 40.775704)    6039
POINT (-73.980335 40.77143)     5913
                                ...
POINT (-74.07841 40.640156)        1
POINT (-74.220885 40.544465)       1
POINT (-74.116917 40.572112)       1
POINT (-73.955318 40.712518)       1
POINT (-74.218105 40.523785)       1
Name: geocoded_column, Length: 825754, dtype: int64

In [ ]:
# number of missing value in each column
df.isna().sum()

bble                      0
boro                      0
block                     0
lot                       0
easement            9804549
owner                215681
bldgcl                    0
taxclass                  0
ltfront                   0
ltdepth                   0
ext                 6664339
stories              508578
fullval                   0
avland                    0
avtot                     0
exland                    0
extot                     0
excd1               4620538
staddr                 6032
zip                  249770
exmptcl             9707249
bldfront                  0
blddepth                  0
avland2             7138565
avtot2              7138545
exland2             9053479
extot2              8616020
excd2               9081516
period                    0
year                      0
valtype                   0
borough              342055
latitude             344743
longitude            344743
community_board      344743
council_district     344743
census_tract         344743
bin                  401561
nta                  344743
geocoded_column      344743
dtype: int64

# **2. Spark**
Since this is a significantly large dataset we will be using Apache Spark, a fast and scalable data processing engine that can handle large volumes of data.

**Goal**: Compute summary statistics  on the data. The resulting dataframes will be used to created interactive visualziations.

## A) Loading and Exploring Data

In [ ]:
# Install PySpark (Python Spark API)
!pip install -U pyspark

In [ ]:
# Block to avoid Python and driver version mismatch
import os
import sys
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [ ]:
# Initiate and configure Spark Session and Context
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Intro to Apache Spark") \
    .config("spark.cores.max", "4") \
    .config('spark.executor.memory', '8G') \
    .config('spark.driver.maxResultSize', '8g') \
    .config('spark.kryoserializer.buffer.max', '512m') \
    .config("spark.driver.cores", "4") \
    .getOrCreate()

sc = spark.sparkContext

print("Using Apache Spark Version", spark.version)

Using Apache Spark Version 3.4.0

In [ ]:
# Read CSV file into a Spark dataframe and print the count of records
df = spark.read.format("csv") \
               .options(header='true', inferschema='true', treatEmptyValuesAsNulls='true') \
               .load("property_valuation_clean.csv")
df.count()

In [ ]:
# Insert column 'borough_name'
from pyspark.sql.functions import when, col

df = df.withColumn("borough_name",
                    when(col("boro") == 1, "Manhattan") \
                   .when(col("boro") == 2, "Bronx") \
                   .when(col("boro") == 3, "Brooklyn") \
                   .when(col("boro") == 4, "Queens") \
                   .when(col("boro") == 5, "Staten Island") \
                   .otherwise(col("boro")))

In [ ]:
df.show()

+-----------+----+-----+----+--------+--------------------+------+--------+-------+-------+----+-------+---------+-------+--------+-------+--------+------+--------------------+-------+-------+--------+--------+---------+----------+---------+----------+-----+------+----+-------+---------+---------+----------+---------------+----------------+------------+---------+--------+--------------------+------------+
|       bble|boro|block| lot|easement|               owner|bldgcl|taxclass|ltfront|ltdepth| ext|stories|  fullval| avland|   avtot| exland|   extot| excd1|              staddr|    zip|exmptcl|bldfront|blddepth|  avland2|    avtot2|  exland2|    extot2|excd2|period|year|valtype|  borough| latitude| longitude|community_board|council_district|census_tract|      bin|     nta|     geocoded_column|borough_name|
+-----------+----+-----+----+--------+--------------------+------+--------+-------+-------+----+-------+---------+-------+--------+-------+--------+------+--------------------+-------+-------+--------+--------+---------+----------+---------+----------+-----+------+----+-------+---------+---------+----------+---------------+----------------+------------+---------+--------+--------------------+------------+
| 1000163859|   1|   16|3859|    null|        CHEN, QI TOM|    R4|       2|      0|      0|null|   31.0| 354180.0|   3310|  159381|   3310|  159381|6800.0|     1 RIVER TERRACE|   null|   null|       0|       0|   3310.0|  148953.0|   3310.0|  148953.0| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
| 1000730028|   1|   73|  28|    null|            NYC DSBS|    V1|       4|    183|     52|null|   null|3515000.0|1581750| 1581750|1581750| 1581750|2191.0|     MARGINAL STREET|10038.0|     X1|       0|       0|1080594.0| 1080594.0|1080594.0| 1080594.0| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
| 1000730029|   1|   73|  29|    null|            NYC DSBS|    Y7|       4|     90|    500|null|    1.0|8215000.0|2812050| 3696750|2812050| 3696750|2191.0|     MARGINAL STREET|10038.0|     X1|      90|     258|2812050.0| 3487680.0|2812050.0| 3487680.0| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
| 1000297504|   1|   29|7504|    null|                null|    R0|       2|     36|     73|null|    7.0|      0.0|      0|       0|      0|       0|  null|54 STANTON ST EXT...|10004.0|   null|      36|      73|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
| 1000360012|   1|   36|  12|    null|            NYC DSBS|    Y7|       4|    534|    604|null|   null| 2.6246E7|9180000|11810700|9180000|11810700|2191.0|              PIER 9|   null|     X1|       0|     604|9180000.0|1.114254E7|9180000.0|1.114254E7| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
| 1000730008|   1|   73|   8|    null|            NYC DSBS|    T2|       4|    238|    597|null|    1.0| 1.0315E7|3235500| 4641750|3235500| 4641750|2191.0|PIER-16 SOUTH STREET|10038.0|     X1|       0|     557|3235500.0| 4379220.0|3235500.0| 4379220.0| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
| 1001749031|   1|  174|9031|    null|                null|    V1|       4|     54|    165|null|   null|      0.0|      0|       0|      0|       0|  null|            BROADWAY|   null|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
| 1001760118|   1|  176| 118|    null|                null|    V1|       4|      0|     50|null|   null|      0.0|      0|       0|      0|       0|  null|       WEST BROADWAY|   null|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
|1001980001E|   1|  198|   1|       E|         NYC TRANSIT|    U7|       3|      0|      0|null|   null|      0.0|      0|       0|      0|       0|  null|       CENTRE STREET|10013.0|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
|1002070001E|   1|  207|   1|       E|         NYC TRANSIT|    U7|       3|      0|      0|null|   null|      0.0|      0|       0|      0|       0|  null|       CENTRE STREET|10013.0|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
|1002080019E|   1|  208|  19|       E|         NYC TRANSIT|    U7|       3|      0|      0|null|   null|      0.0|      0|       0|      0|       0|  null|        CANAL STREET|10013.0|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
| 1002091001|   1|  209|1001|    null|    424 BROADWAY LLC|    RK|       4|      0|      0|null|    6.0|6936000.0|  92869| 3121200|      0|       0|  null|      42426 BROADWAY|10013.0|   null|       0|       0|  92869.0| 2641140.0|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
|1006760003G|   1|  676|   3|       G|                null|    U9|       3|      0|      0|null|   null|      0.0|      0|       0|      0|       0|  null|                null|   null|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
| 1006760005|   1|  676|   5|    null|MTA LIRR CO DEPT ...|    V1|       4|    800|    538|null|   null|      0.0|      0|       0|      0|       0|  null|      WEST 33 STREET|   null|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
| 1002210001|   1|  221|   1|    null|             NYC DOT|    U1|       3|    161|    461|null|   null|      0.0|      0|       0|      0|       0|  null|       VESTRY STREET|   null|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
| 1002230112|   1|  223| 112|    null|BRIDGE LAND VESTR...|    V1|       4|      9|    110|null|   null|      0.0|      0|       0|      0|       0|  null|   WASHINGTON STREET|10013.0|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
| 1009287504|   1|  928|7504|    null|                null|    R0|       2|     24|    100|null|   19.0|      0.0|      0|       0|      0|       0|  null|  300 EAST 23 STREET|10010.0|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|MANHATTAN| 40.73773|-73.980554|          106.0|             2.0|        64.0|1088559.0|Gramercy|POINT (-73.980554...|   Manhattan|
| 1010607502|   1| 1060|7502|    null|                null|    R0|       2|    150|    200|null|   16.0|      0.0|      0|       0|      0|       0|  null|  425 WEST 50 STREET|10019.0|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|MANHATTAN|40.763878|-73.989853|          104.0|             3.0|       133.0|1026676.0| Clinton|POINT (-73.989853...|   Manhattan|
| 1002740037|   1|  274|  37|    null|MADISON&MKT ST RL...|    G7|       4|     26|    100|null|   null| 843000.0| 379350|  379350|      0|       0|  null|      MADISON STREET|   null|   null|       0|       0| 242050.0|  242050.0|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
| 1002820004|   1|  282|   4|    null|             NYC DOT|    V9|       4|     13|      3|null|   null|   1000.0|    450|     450|    450|     450|2261.0|        HENRY STREET|10002.0|   null|       0|       0|    459.0|     459.0|    459.0|     459.0| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|
+-----------+----+-----+----+--------+--------------------+------+--------+-------+-------+----+-------+---------+-------+--------+-------+--------+------+--------------------+-------+-------+--------+--------+---------+----------+---------+----------+-----+------+----+-------+---------+---------+----------+---------------+----------------+------------+---------+--------+--------------------+------------+
only showing top 20 rows

In [ ]:
# Proportion of null or zero values in 'bin' and 'fullval' columns
from pyspark.sql.functions import col, round

total_count = df.count()

for column_name in ['bin', 'fullval']:
  null_count = df.filter(col(column_name).isNull()).count()
  zero_count = df.filter(col(column_name) == 0).count()
  proportion_null_zero = (null_count + zero_count) / total_count
  print("Column {} has null values in {:.2f}% of rows".format(column_name, proportion_null_zero*100))

Column bin has null values in 4.08% of rows
Column fullval has null values in 1.30% of rows

## B) Analysis & Insights

### 1. What is the average market value by Borough?

In [ ]:
from pyspark.sql.functions import avg, round, when

# Calculate average or market value by borough
avg_market_value_by_borough = df.groupBy("borough_name") \
                                .agg(round(avg("fullval"), 2).alias("avg_market_value"))

# Show the resulting DataFrame
avg_market_value_by_borough.show()

+-------------+----------------+
| borough_name|avg_market_value|
+-------------+----------------+
|       Queens|       734838.01|
|     Brooklyn|       815245.78|
|Staten Island|       515966.36|
|    Manhattan|      2937368.29|
|        Bronx|       726677.29|
+-------------+----------------+

### 2. What has been the change in market value of NYC real estate over time?

In [ ]:
from pyspark.sql.functions import avg, round

avg_valuation_by_year = df.filter(df.year.cast("integer").isNotNull()) \
                          .groupBy("year") \
                          .agg(round(avg("fullval"), 2).alias("avg_property_value")) \
                          .orderBy("year")

# Show the resulting DataFrame
avg_valuation_by_year.show()

+----+------------------+
|year|avg_property_value|
+----+------------------+
|2010|         874549.93|
|2011|         893444.68|
|2012|         914601.18|
|2013|          936508.3|
|2014|          986757.9|
|2015|        1053722.34|
|2016|        1145860.41|
|2017|        1225088.16|
|2018|         1316684.5|
+----+------------------+

### 3. What has been the change in market value of NYC real estate over time by Borough?

In [ ]:
from pyspark.sql.functions import avg, round, when, col

avg_valuation_by_borough_year = df.filter(df.year.cast("integer").isNotNull()) \
                          .groupBy("year") \
                          .pivot("borough_name") \
                          .agg(round(avg("fullval"), 2).alias("avg_property_value")) \
                          .orderBy("year")

# Show the resulting DataFrame
avg_valuation_by_borough_year.show()

+----+---------+----------+----------+---------+-------------+
|year|    Bronx|  Brooklyn| Manhattan|   Queens|Staten Island|
+----+---------+----------+----------+---------+-------------+
|2010|636793.07|  697854.2|2370240.28|639949.39|    492158.95|
|2011|644322.88|  681482.6|2509020.11|646623.61|    488620.01|
|2012|655620.37| 696965.38|2587736.99|656916.05|    488624.67|
|2013|672447.64| 701839.12| 2718755.1|660258.43|    478839.75|
|2014|687307.61| 742580.82|2882396.58|690854.58|    487161.99|
|2015| 732861.5| 791889.63|3070543.49|741695.47|    511409.05|
|2016|782620.07| 900135.37|3227419.96| 809384.4|    534594.78|
|2017|830606.36|1005210.92|3393892.76|846483.26|    557993.51|
|2018|896908.54| 1101875.5|3559991.74|914984.08|    603210.53|
+----+---------+----------+----------+---------+-------------+

### 4. What has been the average market value and its growth by Areas in each Borough?

In [ ]:
from pyspark.sql.functions import avg, lag, col, when, round
from pyspark.sql.window import Window

# group by borough_name and nta, calculate the average fullval for each year
grouped = df.groupBy('borough_name', 'nta', 'year') \
              .agg(round(avg('fullval'),2).alias('avg_val_area'))

# calculate the difference between the average fullval for each area of one year and the average fullval for each area of the previous year
w = Window.partitionBy('borough_name', 'nta').orderBy('year')
growth_area = grouped.withColumn('prev_avg_val_area', lag('avg_val_area', 1).over(w))
growth_area = growth_area.withColumn('growth', when(col('prev_avg_val_area').isNull(), None).otherwise(round(col('avg_val_area')-col('prev_avg_val_area'),2))) \
                             .where(col('nta').isNotNull())

# show the results
growth_area.show()

+------------+--------------------+-----+------------+-----------------+---------+
|borough_name|                 nta| year|avg_val_area|prev_avg_val_area|   growth|
+------------+--------------------+-----+------------+-----------------+---------+
|       Bronx|           2011956.0|FINAL|         3.0|             null|     null|
|       Bronx|Allerton-Pelham G...| 2010|   494530.42|             null|     null|
|       Bronx|Allerton-Pelham G...| 2011|   495963.88|        494530.42|  1433.46|
|       Bronx|Allerton-Pelham G...| 2012|   500882.62|        495963.88|  4918.74|
|       Bronx|Allerton-Pelham G...| 2013|   493824.62|        500882.62|  -7058.0|
|       Bronx|Allerton-Pelham G...| 2014|   482529.23|        493824.62|-11295.39|
|       Bronx|Allerton-Pelham G...| 2015|   512238.43|        482529.23|  29709.2|
|       Bronx|Allerton-Pelham G...| 2016|   541965.46|        512238.43| 29727.03|
|       Bronx|Allerton-Pelham G...| 2017|   570430.67|        541965.46| 28465.21|
|       Bronx|Allerton-Pelham G...| 2018|   616958.57|        570430.67|  46527.9|
|       Bronx|Bedford Park-Ford...| 2010|   941582.69|             null|     null|
|       Bronx|Bedford Park-Ford...| 2011|   977275.12|        941582.69| 35692.43|
|       Bronx|Bedford Park-Ford...| 2012|   976753.79|        977275.12|  -521.33|
|       Bronx|Bedford Park-Ford...| 2013|  1027372.91|        976753.79| 50619.12|
|       Bronx|Bedford Park-Ford...| 2014|  1074427.41|       1027372.91|  47054.5|
|       Bronx|Bedford Park-Ford...| 2015|  1152205.94|       1074427.41| 77778.53|
|       Bronx|Bedford Park-Ford...| 2016|  1250181.79|       1152205.94| 97975.85|
|       Bronx|Bedford Park-Ford...| 2017|  1353171.15|       1250181.79|102989.36|
|       Bronx|Bedford Park-Ford...| 2018|  1461049.38|       1353171.15|107878.23|
|       Bronx|             Belmont| 2010|    974670.7|             null|     null|
+------------+--------------------+-----+------------+-----------------+---------+
only showing top 20 rows

### 5. What has been the average market value and its growth by Zip Code?

In [ ]:
from pyspark.sql.functions import avg, lag, col, when, round
from pyspark.sql.types import IntegerType
from pyspark.sql.window import Window

# filter out rows where zip is null or not an integer
filtered = df.filter(col('zip').cast(IntegerType()).isNotNull())

# group by zip code, calculate the average fullval for each year
grouped = filtered.groupBy('zip', 'year') \
              .agg(round(avg('fullval'),2).alias('avg_val_zip'))

# calculate the difference between the average fullval for each zip code of one year and the average fullval for each zip code of the previous year
w = Window.partitionBy('zip').orderBy('year')
growth_zip = grouped.withColumn('prev_avg_val_zip', lag('avg_val_zip', 1).over(w))
growth_zip = growth_zip.withColumn('growth', when(col('prev_avg_val_zip').isNull(), None).otherwise(round(col('avg_val_zip')-col('prev_avg_val_zip'),2)))

# show the results
growth_zip.show()

+-------+----+-----------+----------------+---------+
|    zip|year|avg_val_zip|prev_avg_val_zip|   growth|
+-------+----+-----------+----------------+---------+
|10001.0|2010| 5900805.32|            null|     null|
|10001.0|2011| 6346557.56|      5900805.32|445752.24|
|10001.0|2012| 6703835.36|      6346557.56| 357277.8|
|10001.0|2013| 6694327.17|      6703835.36| -9508.19|
|10001.0|2014| 7507919.36|      6694327.17|813592.19|
|10001.0|2015| 7911689.55|      7507919.36|403770.19|
|10001.0|2016| 8371610.15|      7911689.55| 459920.6|
|10001.0|2017|  8791734.0|      8371610.15|420123.85|
|10001.0|2018| 8978409.13|       8791734.0|186675.13|
|10002.0|2010| 1701033.71|            null|     null|
|10002.0|2011| 1664093.49|      1701033.71|-36940.22|
|10002.0|2012| 1708158.46|      1664093.49| 44064.97|
|10002.0|2013| 1841402.91|      1708158.46|133244.45|
|10002.0|2014| 1980996.26|      1841402.91|139593.35|
|10002.0|2015| 2181129.93|      1980996.26|200133.67|
|10002.0|2016|  2257039.7|      2181129.93| 75909.77|
|10002.0|2017| 2447027.68|       2257039.7|189987.98|
|10002.0|2018| 2515516.91|      2447027.68| 68489.23|
|10003.0|2010| 2595515.16|            null|     null|
|10003.0|2011| 2675113.42|      2595515.16| 79598.26|
+-------+----+-----------+----------------+---------+
only showing top 20 rows

### 6. What has been the average market value by building calss?

In [ ]:
building_class_mapping = {'A': 'ONE FAMILY DWELLINGS',
'B': 'TWO FAMILY DWELLINGS',
'C': 'WALK UP APARTMENTS',
'D': 'ELEVATOR APARTMENTS',
'E': 'WAREHOUSES',
'F': 'FACTORIES AND INDUSTRIAL BUILDINGS',
'G': 'GARAGES',
'H': 'HOTELS',
'I': 'HOSPITALS AND HEALTH FACILITIES',
'J': 'THEATRES',
'K': 'STORE BUILDINGS',
'L': 'LOFTS',
'M': 'RELIGIOUS FACILITIES',
'N': 'ASYLUMS AND HOMES',
'O': 'OFFICE BUILDINGS',
'P': 'INDOOR PUBLIC ASSEMBLY & CULT. FACILITIES',
'Q': 'OUTDOOR RECREATIONAL FACILITIES',
'R': 'CONDOMINIUMS',
'S': 'PRIMARILY RES. - MIXED USE',
'T': 'TRANSPORTATION FACILITIES',
'U': 'UTILITY BUREAU PROPERTIES',
'V': 'VACANT LAND',
'W': 'EDUCATIONAL FACILITIES',
'Y': 'GOVERNMENT/CITY DEPARTMENTS',
'Z': 'MISCELLANEOUS'}

# Apply the mapping to the 'bldgcl' column
df = df.withColumn('bldgcl_category', col('bldgcl').substr(1, 1)).replace(building_class_mapping, subset='bldgcl_category')

In [ ]:
df.show()

+-----------+----+-----+----+--------+--------------------+------+--------+-------+-------+----+-------+---------+-------+--------+-------+--------+------+--------------------+-------+-------+--------+--------+---------+----------+---------+----------+-----+------+----+-------+---------+---------+----------+---------------+----------------+------------+---------+--------+--------------------+------------+--------------------+
|       bble|boro|block| lot|easement|               owner|bldgcl|taxclass|ltfront|ltdepth| ext|stories|  fullval| avland|   avtot| exland|   extot| excd1|              staddr|    zip|exmptcl|bldfront|blddepth|  avland2|    avtot2|  exland2|    extot2|excd2|period|year|valtype|  borough| latitude| longitude|community_board|council_district|census_tract|      bin|     nta|     geocoded_column|borough_name|     bldgcl_category|
+-----------+----+-----+----+--------+--------------------+------+--------+-------+-------+----+-------+---------+-------+--------+-------+--------+------+--------------------+-------+-------+--------+--------+---------+----------+---------+----------+-----+------+----+-------+---------+---------+----------+---------------+----------------+------------+---------+--------+--------------------+------------+--------------------+
| 1000163859|   1|   16|3859|    null|        CHEN, QI TOM|    R4|       2|      0|      0|null|   31.0| 354180.0|   3310|  159381|   3310|  159381|6800.0|     1 RIVER TERRACE|   null|   null|       0|       0|   3310.0|  148953.0|   3310.0|  148953.0| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|        CONDOMINIUMS|
| 1000730028|   1|   73|  28|    null|            NYC DSBS|    V1|       4|    183|     52|null|   null|3515000.0|1581750| 1581750|1581750| 1581750|2191.0|     MARGINAL STREET|10038.0|     X1|       0|       0|1080594.0| 1080594.0|1080594.0| 1080594.0| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|         VACANT LAND|
| 1000730029|   1|   73|  29|    null|            NYC DSBS|    Y7|       4|     90|    500|null|    1.0|8215000.0|2812050| 3696750|2812050| 3696750|2191.0|     MARGINAL STREET|10038.0|     X1|      90|     258|2812050.0| 3487680.0|2812050.0| 3487680.0| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|GOVERNMENT/CITY D...|
| 1000297504|   1|   29|7504|    null|                null|    R0|       2|     36|     73|null|    7.0|      0.0|      0|       0|      0|       0|  null|54 STANTON ST EXT...|10004.0|   null|      36|      73|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|        CONDOMINIUMS|
| 1000360012|   1|   36|  12|    null|            NYC DSBS|    Y7|       4|    534|    604|null|   null| 2.6246E7|9180000|11810700|9180000|11810700|2191.0|              PIER 9|   null|     X1|       0|     604|9180000.0|1.114254E7|9180000.0|1.114254E7| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|GOVERNMENT/CITY D...|
| 1000730008|   1|   73|   8|    null|            NYC DSBS|    T2|       4|    238|    597|null|    1.0| 1.0315E7|3235500| 4641750|3235500| 4641750|2191.0|PIER-16 SOUTH STREET|10038.0|     X1|       0|     557|3235500.0| 4379220.0|3235500.0| 4379220.0| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|TRANSPORTATION FA...|
| 1001749031|   1|  174|9031|    null|                null|    V1|       4|     54|    165|null|   null|      0.0|      0|       0|      0|       0|  null|            BROADWAY|   null|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|         VACANT LAND|
| 1001760118|   1|  176| 118|    null|                null|    V1|       4|      0|     50|null|   null|      0.0|      0|       0|      0|       0|  null|       WEST BROADWAY|   null|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|         VACANT LAND|
|1001980001E|   1|  198|   1|       E|         NYC TRANSIT|    U7|       3|      0|      0|null|   null|      0.0|      0|       0|      0|       0|  null|       CENTRE STREET|10013.0|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|UTILITY BUREAU PR...|
|1002070001E|   1|  207|   1|       E|         NYC TRANSIT|    U7|       3|      0|      0|null|   null|      0.0|      0|       0|      0|       0|  null|       CENTRE STREET|10013.0|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|UTILITY BUREAU PR...|
|1002080019E|   1|  208|  19|       E|         NYC TRANSIT|    U7|       3|      0|      0|null|   null|      0.0|      0|       0|      0|       0|  null|        CANAL STREET|10013.0|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|UTILITY BUREAU PR...|
| 1002091001|   1|  209|1001|    null|    424 BROADWAY LLC|    RK|       4|      0|      0|null|    6.0|6936000.0|  92869| 3121200|      0|       0|  null|      42426 BROADWAY|10013.0|   null|       0|       0|  92869.0| 2641140.0|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|        CONDOMINIUMS|
|1006760003G|   1|  676|   3|       G|                null|    U9|       3|      0|      0|null|   null|      0.0|      0|       0|      0|       0|  null|                null|   null|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|UTILITY BUREAU PR...|
| 1006760005|   1|  676|   5|    null|MTA LIRR CO DEPT ...|    V1|       4|    800|    538|null|   null|      0.0|      0|       0|      0|       0|  null|      WEST 33 STREET|   null|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|         VACANT LAND|
| 1002210001|   1|  221|   1|    null|             NYC DOT|    U1|       3|    161|    461|null|   null|      0.0|      0|       0|      0|       0|  null|       VESTRY STREET|   null|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|UTILITY BUREAU PR...|
| 1002230112|   1|  223| 112|    null|BRIDGE LAND VESTR...|    V1|       4|      9|    110|null|   null|      0.0|      0|       0|      0|       0|  null|   WASHINGTON STREET|10013.0|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|         VACANT LAND|
| 1009287504|   1|  928|7504|    null|                null|    R0|       2|     24|    100|null|   19.0|      0.0|      0|       0|      0|       0|  null|  300 EAST 23 STREET|10010.0|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|MANHATTAN| 40.73773|-73.980554|          106.0|             2.0|        64.0|1088559.0|Gramercy|POINT (-73.980554...|   Manhattan|        CONDOMINIUMS|
| 1010607502|   1| 1060|7502|    null|                null|    R0|       2|    150|    200|null|   16.0|      0.0|      0|       0|      0|       0|  null|  425 WEST 50 STREET|10019.0|   null|       0|       0|     null|      null|     null|      null| null| FINAL|2018|  AC-TR|MANHATTAN|40.763878|-73.989853|          104.0|             3.0|       133.0|1026676.0| Clinton|POINT (-73.989853...|   Manhattan|        CONDOMINIUMS|
| 1002740037|   1|  274|  37|    null|MADISON&MKT ST RL...|    G7|       4|     26|    100|null|   null| 843000.0| 379350|  379350|      0|       0|  null|      MADISON STREET|   null|   null|       0|       0| 242050.0|  242050.0|     null|      null| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|             GARAGES|
| 1002820004|   1|  282|   4|    null|             NYC DOT|    V9|       4|     13|      3|null|   null|   1000.0|    450|     450|    450|     450|2261.0|        HENRY STREET|10002.0|   null|       0|       0|    459.0|     459.0|    459.0|     459.0| null| FINAL|2018|  AC-TR|     null|     null|      null|           null|            null|        null|     null|    null|                null|   Manhattan|         VACANT LAND|
+-----------+----+-----+----+--------+--------------------+------+--------+-------+-------+----+-------+---------+-------+--------+-------+--------+------+--------------------+-------+-------+--------+--------+---------+----------+---------+----------+-----+------+----+-------+---------+---------+----------+---------------+----------------+------------+---------+--------+--------------------+------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import avg, round

# Perform the aggregation with "year" and "borough" columns
avg_market_value_by_building_class = df.groupBy("bldgcl_category", "year", "borough") \
                                .agg(round(avg("fullval"), 2).alias("avg_market_value_building_class"))

# Show the resulting DataFrame
avg_market_value_by_building_class.show()

+--------------------+----+---------+-------------------------------+
|     bldgcl_category|year|  borough|avg_market_value_building_class|
+--------------------+----+---------+-------------------------------+
|       MISCELLANEOUS|2016|     null|                      370500.97|
|            THEATRES|2018| BROOKLYN|                      5517000.0|
|    OFFICE BUILDINGS|2016|     null|                     1334888.89|
|  WALK UP APARTMENTS|2012|    BRONX|                      580990.86|
|         VACANT LAND|2012|    BRONX|                      334756.49|
|ONE FAMILY DWELLINGS|2018|     null|                      796217.55|
|TWO FAMILY DWELLINGS|2014| BROOKLYN|                      711130.17|
|TWO FAMILY DWELLINGS|2013|   QUEENS|                      542600.65|
|             GARAGES|2011|   QUEENS|                       521559.6|
|FACTORIES AND IND...|2018|    BRONX|                      1715419.9|
|RELIGIOUS FACILITIES|2013|     null|                      2134700.0|
|TRANSPORTATION FA...|2011|     null|                  4.145124901E7|
|         VACANT LAND|2018|     null|                     1176415.05|
|GOVERNMENT/CITY D...|2018|     null|                      1.19529E7|
|RELIGIOUS FACILITIES|2015|     null|                     2538245.28|
| ELEVATOR APARTMENTS|2014|     null|                     6862063.98|
|ONE FAMILY DWELLINGS|2010|    BRONX|                      434260.81|
|        CONDOMINIUMS|2014|     null|                      250298.26|
|              HOTELS|2017|    BRONX|                     4018780.58|
|    OFFICE BUILDINGS|2018|MANHATTAN|                  6.158642163E7|
+--------------------+----+---------+-------------------------------+
only showing top 20 rows

### 7. What has been the average market value and actual land value by lot size/building size?

In [ ]:
filtered_lot = df.filter((col('ltfront').isNotNull()) & (col('ltfront') != 0) & (col('ltdepth').isNotNull()) & (col('ltdepth') != 0))
lot_size=filtered_lot.withColumn('lot_size',col('ltfront')* col('ltdepth'))

avg_valuation_by_lot_size = lot_size.groupBy("lot_size") \
                                .agg(round(avg("fullval"), 2).alias("avg_val_lot_size")) \
                                .orderBy("lot_size")

filtered_building=df.filter((col('bldfront').isNotNull()) & (col('bldfront') != 0)& (col('blddepth').isNotNull()) & (col('blddepth') != 0))
building_size=filtered_building.withColumn('building_size',col('bldfront')* col('blddepth'))

avg_valuation_by_building_size = building_size.groupBy("building_size") \
                                .agg(round(avg("fullval"), 2).alias("avg_val_building_size")) \
                                .orderBy("building_size")

In [ ]:
avg_valuation_by_lot_size.show()

+--------+----------------+
|lot_size|avg_val_lot_size|
+--------+----------------+
|       1|        53161.87|
|       2|         2132.93|
|       3|         7699.25|
|       4|         1277.77|
|       5|         1165.09|
|       6|         1806.76|
|       7|         2767.25|
|       8|         1038.01|
|       9|         1361.02|
|      10|        11615.17|
|      11|          582.11|
|      12|          862.56|
|      13|         2854.22|
|      14|         1583.26|
|      15|         1724.17|
|      16|         3015.62|
|      17|             0.0|
|      18|         1695.17|
|      19|         1058.89|
|      20|        19814.53|
+--------+----------------+
only showing top 20 rows

In [ ]:
avg_valuation_by_building_size.show()

+-------------+---------------------+
|building_size|avg_val_building_size|
+-------------+---------------------+
|            1|           1978518.51|
|            3|            595866.67|
|            6|            363736.84|
|            7|              76100.0|
|            8|            665444.44|
|            9|             289600.0|
|           15|            597165.37|
|           18|             427140.0|
|           20|              34100.0|
|           22|            1112300.0|
|           24|           4574232.69|
|           25|            413236.39|
|           28|            1063999.5|
|           30|            679946.66|
|           32|             593701.0|
|           34|             437000.0|
|           35|              82600.0|
|           36|           1350975.69|
|           40|            868896.73|
|           42|            409777.78|
+-------------+---------------------+
only showing top 20 rows

In [ ]:
# show the average actual land value by lot size and building size

avg_land_value_by_lot_size = lot_size.groupBy("lot_size") \
                                .agg(round(avg("avland"), 2).alias("avg_land_value_by_lot_size")) \
                                .orderBy("lot_size")

avg_land_value_by_building_size = building_size.groupBy("building_size") \
                                .agg(round(avg("avland"), 2).alias("avg_land_value_by_building_size")) \
                                .orderBy("building_size")

In [ ]:
avg_land_value_by_lot_size.show()

+--------+--------------------------+
|lot_size|avg_land_value_by_lot_size|
+--------+--------------------------+
|       1|                   2137.47|
|       2|                     76.27|
|       3|                   2581.08|
|       4|                     96.68|
|       5|                    164.91|
|       6|                     54.61|
|       7|                     70.92|
|       8|                     74.16|
|       9|                    200.03|
|      10|                    1647.6|
|      11|                       2.0|
|      12|                    153.42|
|      13|                     18.93|
|      14|                    116.46|
|      15|                     97.37|
|      16|                      93.5|
|      17|                       0.0|
|      18|                     47.56|
|      19|                     40.78|
|      20|                    2165.6|
+--------+--------------------------+
only showing top 20 rows

In [ ]:
avg_land_value_by_building_size.show()

+-------------+-------------------------------+
|building_size|avg_land_value_by_building_size|
+-------------+-------------------------------+
|            1|                      304801.17|
|            3|                        15940.6|
|            6|                       11323.74|
|            7|                        34245.0|
|            8|                       11373.72|
|            9|                       125100.0|
|           15|                      245100.59|
|           18|                       161310.0|
|           20|                        5660.15|
|           22|                         5337.0|
|           24|                      1944609.1|
|           25|                      161818.87|
|           28|                       459150.0|
|           30|                       292647.6|
|           32|                      259065.45|
|           34|                       11689.56|
|           35|                         2785.0|
|           36|                      140821.11|
|           40|                      282612.78|
|           42|                        11127.0|
+-------------+-------------------------------+
only showing top 20 rows

### 8. What has been the average valuation by blocks within borough?

In [ ]:
from pyspark.sql.functions import avg, round

avg_market_value_by_blocks = df.groupBy("borough_name", "block", "year") \
                               .agg(round(avg("fullval"), 2).alias("avg_market_value_by_blocks")) \
                               .orderBy("borough_name", "block")

# Show the resulting DataFrame
avg_market_value_by_blocks.show()

+------------+-----+----+--------------------------+
|borough_name|block|year|avg_market_value_by_blocks|
+------------+-----+----+--------------------------+
|       Bronx| 2260|2011|                  543840.0|
|       Bronx| 2260|2018|                  627760.0|
|       Bronx| 2260|2013|                 566929.96|
|       Bronx| 2260|2010|                  531678.8|
|       Bronx| 2260|2017|                  634200.0|
|       Bronx| 2260|2015|                  637080.0|
|       Bronx| 2260|2012|                  551120.0|
|       Bronx| 2260|2014|                  606600.0|
|       Bronx| 2260|2016|                  611824.0|
|       Bronx| 2261|2018|                 1045700.0|
|       Bronx| 2261|2011|                  629850.0|
|       Bronx| 2261|2015|                  683200.0|
|       Bronx| 2261|2016|                  853550.0|
|       Bronx| 2261|2013|                  693747.5|
|       Bronx| 2261|2017|                  925060.7|
|       Bronx| 2261|2012|                  651050.0|
|       Bronx| 2261|2014|                  667600.0|
|       Bronx| 2261|2010|                 492658.75|
|       Bronx| 2263|2018|                3969611.11|
|       Bronx| 2263|2015|                 3645000.0|
+------------+-----+----+--------------------------+
only showing top 20 rows

### 9. What has been the difference in valuation based on exemption?

In [ ]:
filtered=df.filter(col('EXMPTCL').isNotNull())
avg_market_value_by_exemption_class = filtered.groupBy("EXMPTCL") \
                                        .agg(round(avg("fullval"), 2).alias("avg_market_value_by_exemption_class"))

# Show the resulting DataFrame
avg_market_value_by_exemption_class.show()

+-------+-----------------------------------+
|EXMPTCL|avg_market_value_by_exemption_class|
+-------+-----------------------------------+
|     X9|                      1.546393547E7|
|     KI|                         4641555.56|
|     X4|                      1.588823048E7|
|     X7|                      2.228643687E7|
|     X6|                         6019226.87|
|     X8|                       1.61439749E7|
|     X1|                       1.35616034E7|
|     VI|                             793.11|
|     X3|                      3.389741448E7|
|     X2|                         6957392.04|
|     X5|                         2787495.95|
|10458.0|                                3.0|
|     A9|                          579888.89|
|11368.0|                                2.0|
|     R4|                           58409.33|
|11378.0|                               2.25|
|      5|                          411444.44|
|11355.0|                                2.0|
|11201.0|                               15.0|
|10314.0|                                1.0|
+-------+-----------------------------------+

In [ ]:
# average market value based on exemtion codes

filtered_EXCD1 = df.filter(col('EXCD1').isNotNull() )

avg_valuation_by_EXCD1= filtered_EXCD1.groupBy("EXCD1") \
                                .agg(round(avg("fullval"), 2).alias("avg_valuation_by_EXCD1")) \
                                .orderBy("EXCD1")

filtered_EXCD2=df.filter(col('EXCD2').isNotNull())

avg_valuation_by_EXCD2 = filtered_EXCD2.groupBy("EXCD2") \
                                .agg(round(avg("fullval"), 2).alias("avg_valuation_by_EXCD2")) \
                                .orderBy("EXCD2")

In [ ]:
avg_valuation_by_EXCD1.show()

+------+----------------------+
| EXCD1|avg_valuation_by_EXCD1|
+------+----------------------+
|   0.0|                  2.57|
|1010.0|            1395972.52|
|1011.0|             821590.91|
|1015.0|             691458.86|
|1016.0|             673685.13|
|1017.0|             616992.49|
|1019.0|             541548.27|
|1021.0|            1988896.71|
|1022.0|            4887749.48|
|1023.0|            4217021.91|
|1101.0|             803784.68|
|1102.0|            1017546.45|
|1200.0|             738305.76|
|1301.0|            2162400.86|
|1401.0|         1.928107335E7|
|1402.0|            4716332.58|
|1403.0|         1.173423123E7|
|1404.0|            3402088.82|
|1460.0|                   2.0|
|1470.0|                   2.0|
+------+----------------------+
only showing top 20 rows

In [ ]:
avg_valuation_by_EXCD2.show()

+------+----------------------+
| EXCD2|avg_valuation_by_EXCD2|
+------+----------------------+
|1011.0|             699714.29|
|1015.0|            2562712.77|
|1017.0|             866234.51|
|1019.0|             592202.55|
|1021.0|             4974875.0|
|1022.0|            4401697.66|
|1023.0|             246428.57|
|1101.0|             1495911.4|
|1102.0|             1660000.0|
|1200.0|             736511.21|
|1401.0|             7405000.0|
|1402.0|              645721.2|
|1404.0|             1.38777E8|
|1501.0|             6700000.0|
|1504.0|             493186.45|
|1505.0|             8238500.0|
|1521.0|             5322600.0|
|1522.0|             1137000.0|
|1523.0|            1988117.14|
|1602.0|             3082800.0|
+------+----------------------+
only showing top 20 rows

### 10. What has been the difference in valuation by tax class?

In [ ]:
from pyspark.sql.functions import avg
filtered = df.filter(col('TAXCLASS').isNotNull())
avg_market_value_by_tax_class = filtered.groupBy("borough_name", "TAXCLASS") \
                                        .agg(round(avg("fullval"), 2).alias("avg_market_value_by_tax_class"))

# Show the resulting DataFrame
avg_market_value_by_tax_class.show()

+-------------+--------+-----------------------------+
| borough_name|TAXCLASS|avg_market_value_by_tax_class|
+-------------+--------+-----------------------------+
|        Bronx|      2C|                    426674.19|
|    Manhattan|      2A|                   1907151.58|
|Staten Island|       2|                    265665.89|
|        Bronx|      1C|                    945804.53|
|    Manhattan|       3|                      2243.78|
|       Queens|       1|                    597722.48|
|        Bronx|       2|                    676197.08|
|       Queens|      1B|                    531412.36|
|Staten Island|       3|                       183.36|
|Staten Island|       4|                   1592248.92|
|        Bronx|       4|                   2594245.88|
|Staten Island|       1|                    466622.56|
|        Bronx|       1|                    461597.81|
|       Queens|       4|                   2232008.77|
|    Manhattan|       1|                   5423556.21|
|    Manhattan|       2|                   1267917.48|
|        Bronx|      1A|                    262447.18|
|       Queens|      2C|                    210883.34|
|     Brooklyn|      1A|                     433693.7|
|       Queens|       2|                    716207.16|
+-------------+--------+-----------------------------+
only showing top 20 rows

### 11. What has been the pattern in valuation by ownership type?

In [ ]:
from pyspark.sql.functions import col, when
filtered_owner=df.filter(col('OWNER').isNotNull())
#classify owner type
owner_type_column = (
    when(col("OWNER").contains("LLC"), "LLC")
    .when(col("OWNER").contains("INC"), "INC")
    .when(col("OWNER").contains("CORP"), "CORP")
    .when(col("OWNER").contains("DEPT"), "Government Agency")
    .when(col("OWNER").contains("NYC"), "Government Agency")
    .when(col("OWNER").contains("CITY"), "Government Agency")
    .when(col("OWNER").contains("STATE"), "Government Agency")
    .when(col("OWNER").contains("SCHOOL"), "Public Institution")
    .when(col("OWNER").contains("UNIVERSITY"), "Public Institution")
    .when(col("OWNER").contains("CHURCH"), "Religious Institution")
    .when(col("OWNER").contains("SYNAGOGUE"), "Religious Institution")
    .when(col("OWNER").contains("TEMPLE"), "Religious Institution")
    .when(col("OWNER").contains("NONPROFIT"), "Non-Profit Organization")
    .when(col("OWNER").contains("FOUNDATION"), "Non-Profit Organization")
    .when(col("OWNER").contains("HOSPITAL"), "Hospital")
    .when(col("OWNER").contains("HOUSING"), "Housing Association")
    .otherwise("Individual/Family")

)
# Create a new column 'owner_type' in the DataFrame based on the owner type conditions
df_with_owner_type = df.withColumn("owner_type", owner_type_column)

avg_market_value_by_owner_type = df_with_owner_type.groupBy("owner_type") \
                                        .agg(round(avg("fullval"), 2).alias("avg_market_value_by_owner_type"))

# Show the resulting DataFrame
avg_market_value_by_owner_type.show()

+--------------------+------------------------------+
|          owner_type|avg_market_value_by_owner_type|
+--------------------+------------------------------+
|                 INC|                    1464574.92|
|Religious Institu...|                    1972854.12|
|  Public Institution|                    8199513.97|
|Non-Profit Organi...|                    4570628.04|
|                 LLC|                    2063212.64|
|   Government Agency|                    5202429.75|
|            Hospital|                 1.370877659E7|
|   Individual/Family|                     886959.44|
| Housing Association|                    1661335.74|
|                CORP|                    2306111.87|
+--------------------+------------------------------+

# **3. Neo4j**
Neo4j is a graph database that is designed to handle complex and connected data.

**Goal**: Enable visualization and analysis of complex property relationships, such as proximity, ownership, property type, and valuation, in an intuitive and powerful way.

Here we will explain the idea with a sample of 1,000 observations per year (total 9,000 rows) because Neo4j will generate error if we use 9m data.

In [ ]:
import pandas as pd
df = pd.read_csv('property_valuation_clean.csv')

df_sample = df.groupby('year', group_keys=False).apply(lambda x: x.sample(n=1000, random_state=123))
display(df_sample)

,bble,boro,block,lot,easement,owner,bldgcl,taxclass,ltfront,ltdepth,...,valtype,borough,latitude,longitude,community_board,council_district,census_tract,bin,nta,geocoded_column
8599213,4131400058,4,13140,58,NaN,"FRANKLIN, BENJAMIN",B3,1,60,100,...,AC-TR,QUEENS,40.671320,-73.746622,413.0,31.0,650.0,4282275.0,Laurelton,POINT (-73.746622 40.67132)
8424033,4054170050,4,5417,50,NaN,"TOONG, SWEE HEE",B2,1,40,100,...,AC-TR,QUEENS,40.758494,-73.806138,407.0,20.0,1191.0,4615624.0,East Flushing,POINT (-73.806138 40.758494)
8673703,5015080194,5,1508,194,NaN,KIRK J CAHILL,B9,1,0,0,...,AC-TR,STATEN IS,40.616623,-74.149135,501.0,50.0,251.0,5106484.0,Port Richmond,POINT (-74.149135 40.616623)
8359953,4031840024,4,3184,24,NaN,TENNENBAUM STERIAN,A5,1,20,100,...,AC-TR,QUEENS,40.717267,-73.855679,406.0,29.0,707.0,4075531.0,Forest Hills,POINT (-73.855679 40.717267)
8702897,5033920039,5,3392,39,NaN,"VATHI, MAKSIM",A5,1,20,108,...,AC-TR,STATEN IS,40.593730,-74.078755,502.0,50.0,64.0,5149459.0,Grasmere-Arrochar-Ft. Wadsworth,POINT (-74.078755 40.59373)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367880,3013100011,3,1310,11,NaN,"HEBER, NECHAMA",B9,1,26,120,...,AC-TR,BROOKLYN,40.665214,-73.947644,309.0,35.0,331.0,3034565.0,Crown Heights South,POINT (-73.947644 40.665214)
435305,3035690042,3,3569,42,NaN,"ZHAI, YUNHUA",C0,1,20,100,...,AC-TR,BROOKLYN,40.662543,-73.914744,316.0,42.0,898.0,3350588.0,Brownsville,POINT (-73.914744 40.662543)
751190,4034500027,4,3450,27,NaN,TASKOV SLAVCO,C2,2A,27,100,...,AC-TR,QUEENS,40.700652,-73.908695,405.0,34.0,549.0,4082417.0,Ridgewood,POINT (-73.908695 40.700652)
85048,1010181133,1,1018,1133,NaN,"SONG, STACEY CHEONG E",R4,2,0,0,...,AC-TR,MANHATTAN,40.759228,-73.986572,105.0,3.0,125.0,1024736.0,Midtown-Midtown South,POINT (-73.986572 40.759228)
242741,2036150014,2,3615,14,NaN,VALENTINE LERMA P,A1,1,25,100,...,AC-TR,BRONX,40.822674,-73.847643,209.0,18.0,90.0,2022502.0,Soundview-Castle Hill-Clason Point-Harding Park,POINT (-73.847643 40.822674)

In [ ]:
df_sample.to_csv('property_valuation_sample_9000.csv', index=False)

In [ ]:
!pip3 install -U neo4j

Requirement already satisfied: neo4j in c:\users\lenovo\anaconda3\envs\victoria\lib\site-packages (5.7.0)
Requirement already satisfied: pytz in c:\users\lenovo\anaconda3\envs\victoria\lib\site-packages (from neo4j) (2022.7)

## A) Create graphbase

In [ ]:
# Connect to neo4j
from neo4j import GraphDatabase

database_name = "neo4j"
username = "neo4j"
#database_name = "project"
#username = "apan5400"
password = "apan5400"
uri = "bolt://127.0.0.1:7687/" + database_name

driver = GraphDatabase.driver(uri, auth=(username, password))
session = driver.session()

print("Successfully connected to Neo4j!")

Successfully connected to Neo4j!

In [ ]:
# Delete all existing nodes and relationship
query = ("MATCH (n) DETACH DELETE n")
result = session.run(query)
print("All Nodes and relationships are deleted!")

All Nodes and relationships are deleted!

In [ ]:
# Import data
import os
import urllib

datapath = "C:/Users/lenovo/Downloads/property_valuation_sample_9000.csv" # the path can't have space in it, so I use absolute path here
print("file:///{0}".format(datapath))
query1 = ("LOAD CSV WITH HEADERS FROM 'file:///{0}' AS line".format(datapath)
+ """

CREATE (property:Property { \
    bble: line.bble, \
    ltfront: line.ltfront, \
    ltdepth: toInteger(line.ltdepth), \
    stories: CASE WHEN toInteger(line.stories) IS NULL THEN 'NA' ELSE toInteger(line.stories) END, \
    ext: CASE WHEN line.ext IS NULL THEN 'NA' ELSE line.ext END, \
    zip: CASE WHEN line.zip IS NULL THEN 'NA' ELSE line.zip END} \
       )
MERGE (building:Building { \
    bldgcl: line.bldgcl, \
    bldfront: toInteger(line.bldfront), \
    blddepth: toInteger(line.blddepth), \
    bin: CASE WHEN line.bin IS NULL THEN 0 ELSE toInteger(line.bin) END} \
       )
MERGE (street:Street {street: CASE WHEN line.staddr IS NULL THEN 'NA' ELSE line.staddr END})
MERGE (geocoordinate:GeoCoordinate { \
    latitude: CASE WHEN line.latitude IS NULL THEN 0.0 ELSE toFloat(line.latitude) END, \
    longitude: CASE WHEN line.longitude IS NULL THEN 0.0 ELSE toFloat(line.longitude) END} \
       )
MERGE (owner:Owner {name: CASE WHEN line.owner IS NULL THEN 'NA' ELSE line.owner END})
MERGE (year:Year {year: toInteger(line.year)})
MERGE (marketvalue:MarketValue {value: toFloat(line.fullval)})
MERGE (actualvalue:ActualValue {value: CASE WHEN line.avland2 IS NULL THEN 0.0 ELSE toFloat(line.avland2) END})
MERGE (transactionalvalue:TransactionalValue {value: CASE WHEN line.avtot2 IS NULL THEN 0.0 ELSE toFloat(line.avtot2) END})
MERGE (lot:Lot {lot: line.lot})
MERGE (block:Block {block: line.block})
MERGE (boro:Boro {boro: line.boro})

MERGE (borough:Borough {name:
    CASE line.boro
        WHEN '1' THEN 'Manhattan'
        WHEN '2' THEN 'Bronx'
        WHEN '3' THEN 'Brooklyn'
        WHEN '4' THEN 'Queens'
        WHEN '5' THEN 'Staten Island'
    END
})

MERGE (property)-[:IS_IN_BUILDING]->(building)
MERGE (property)-[:IS_IN_LOT]->(lot)
MERGE (lot)-[:IS_PART_OF_BLOCK]->(block)
MERGE (block)-[:IS_PART_OF_BOROUGH]->(borough)
MERGE (property)-[:IS_LOCATED_IN]->(geocoordinate)
MERGE (property)-[:IS_ON_STREET]->(street)
MERGE (property)-[:OWNED_BY]->(owner)
MERGE (property)-[:VALUED_AT_YEAR]->(year)
MERGE (property)-[:MARKET_VALUE]->(marketvalue)
MERGE (property)-[:ACTUAL_VALUE]->(actualvalue)
MERGE (property)-[:TRANSACTIONAL_VALUE]->(transactionalvalue)

"""
    )

result1 = session.run(query1)
print("All properties are imported from a csv file!")

file:///C:/Users/lenovo/Downloads/property_valuation_sample_9000.csv
All properties are imported from a csv file!

## B) Analysis & Insights

### 1. Property valuation trend analysis

In [ ]:
# Average market value of properties each year
query2 = ("""MATCH (year:Year)<-[:VALUED_AT_YEAR]-(property:Property)-[:MARKET_VALUE]->(marketvalue:MarketValue)
          RETURN year.year AS year, AVG(marketvalue.value) AS average_market_value
          ORDER BY year""")
result2 = session.run(query2)

print(f"The average market value of properties each year:\n")
for record in result2:
    print(f"{record['year']:<5d}: {int(record['average_market_value']):>10,d}")

The average market value of properties each year:

2010 :    724,830
2011 :    732,507
2012 :  1,032,740
2013 :  1,750,794
2014 :    961,817
2015 :  1,506,388
2016 :  1,889,748
2017 :    912,842
2018 :  1,071,533

### 2. Property Owners network analysis

In [ ]:
# Owner rank based on number of properties
query3 = ("""MATCH (p:Property)-[:OWNED_BY]->(o:Owner)
          RETURN o.name AS owner, count(p) AS property_count
          ORDER BY property_count DESC
          limit 20""")
result3 = session.run(query3)

print(f"Owner rank based on number of properties each owner owns:\n")
for record in result3:
    print(f"{record['owner']:<30s}: {int(record['property_count']):>5,d}")

Owner rank based on number of properties each owner owns:

NA                            :   189
PARKCHESTER PRESERVAT         :    48
PARKS AND RECREATION          :    34
HOUSING PRESERVATION          :    18
OWNER / AGENT                 :    14
CITY OF NEW YORK              :    13
CNY/NYCTA                     :     9
DEPT OF ENVIRONMENTAL         :     9
DCAS                          :     8
DCAS/DEPARTMENT OF ED         :     7
D C A S                       :     5
NYC DEPARTMENT OF EDU         :     4
NYC HOUSING AUTHORITY         :     4
KISSENA GARDENS CONDO         :     4
DORCHESTER ASSOCIATES         :     4
NEW YORK CITY HOUSING         :     3
FIRE DEPARTMENT               :     3
NYC HOSUING AUTHORITY         :     3
PARCKHESTER PRESERVAT         :     3
LINCOLN PLAZA ASSOCIA         :     3

In [ ]:
# Owner rank based on all properties' total market value
query4 = ("""
    MATCH (o:Owner)<-[:OWNED_BY]-(p:Property)-[:MARKET_VALUE]->(mv:MarketValue)
    RETURN o.name AS owner, COUNT(p) AS property_count, SUM(mv.value) AS total_market_value
    ORDER BY total_market_value DESC
    limit 20
""")
result4 = session.run(query4)

print(f"Owner rank based on number of properties each owner owns and their total market value:\n")
for i, record in enumerate(result4):
    print(f"{i+1}. {record['owner']:<30s}: {int(record['property_count']):>5,d} properties, Total Market Value: ${int(record['total_market_value']):,.0f}")

Owner rank based on number of properties each owner owns and their total market value:

1. 1221 AVENUE HOLDINGS          :     1 properties, Total Market Value: $1,012,209,000
2. THE CITY OF NEW YORK          :     2 properties, Total Market Value: $541,218,160
3. NEW YORK STATE                :     1 properties, Total Market Value: $410,100,000
4. JAMESTOWN PREMIER CHE         :     1 properties, Total Market Value: $386,111,111
5. NY-717 FIFTH AVENUE,          :     1 properties, Total Market Value: $239,617,187
6. PARKS AND RECREATION          :    34 properties, Total Market Value: $215,722,725
7. HEALTH AND HOSPITALS          :     2 properties, Total Market Value: $171,750,000
8. HP CHERRY STREET HOUS         :     1 properties, Total Market Value: $129,298,000
9. DCAS/DEPARTMENT OF ED         :     7 properties, Total Market Value: $106,889,400
10. DCAS                          :     8 properties, Total Market Value: $92,203,979
11. NA                            :   189 properties, Total Market Value: $90,866,214
12. RBNB WALL STREET OWNE         :     1 properties, Total Market Value: $84,500,000
13. WYCKOFF HEIGHTS HOSPI         :     1 properties, Total Market Value: $70,209,000
14. 509 MADISON AVE ASSOC         :     1 properties, Total Market Value: $65,927,000
15. DORMITORY AUTHORITY O         :     1 properties, Total Market Value: $64,350,000
16. NYC DEPARTMENT OF EDU         :     4 properties, Total Market Value: $63,718,000
17. AUGUSTUS JAMES CORP.          :     1 properties, Total Market Value: $56,656,000
18. S&P 26 DEVELOPMENT AS         :     1 properties, Total Market Value: $56,547,000
19. 641 SIXTH FEE OWNER L         :     1 properties, Total Market Value: $56,024,000
20. LPF SAGAMORE, INC.            :     1 properties, Total Market Value: $49,574,000

In [ ]:
# Owner's all properties by boroughs
query5 = ("""MATCH (b:Borough)-[*1..3]-(p:Property)-[:OWNED_BY]->(o:Owner)
          RETURN o.name AS owner, count(p) AS property_count, collect(distinct b.name) as boroughs
          ORDER BY property_count desc
          limit 20
          """)
result5 = session.run(query5)

print(f"Owner's all properties by boroughs\n")
for record in result5:
    owner = record['owner']
    property_count = int(record['property_count'])
    print(f"{owner:<30s}: {property_count:>5,d} in {', '.join(record['boroughs'])}")

Owner's all properties by boroughs

NA                            : 5,192 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
PARKS AND RECREATION          : 4,613 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
HOUSING PRESERVATION          : 1,978 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
CITY OF NEW YORK              : 1,222 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
DEPT OF ENVIRONMENTAL         : 1,215 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
DCAS                          : 1,100 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
DCAS/DEPARTMENT OF ED         :   901 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
CNY/NYCTA                     :   788 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
OWNER / AGENT                 :   667 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
POLICE DEPARTMENT             :   504 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
NYC PARKS                     :   503 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
BOARD OF EDUCATION            :   433 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
NYC DEPARTMENT OF EDU         :   421 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
KEYSPAN ENERGY                :   401 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
NYC HOUSING AUTHORITY         :   400 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
FIRE DEPARTMENT               :   382 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
HEALTH AND HOSPITALS          :   368 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
NYC HOSUING AUTHORITY         :   359 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
NYC DEPT OF HIGHWAYS          :   299 in Queens, Staten Island, Manhattan, Brooklyn, Bronx
OLSEN RICHARD                 :   296 in Queens, Staten Island, Manhattan, Brooklyn, Bronx

In [ ]:
# Group owners by borough (Top 10 owners per borough based on property_count)
query6 = ("""
    MATCH (b:Borough)-[*1..3]-(p:Property)-[:OWNED_BY]->(o:Owner)
    WITH b.name AS borough, o.name AS owner, count(p) AS property_count
    ORDER BY borough, property_count desc
    RETURN borough, collect({owner: owner, property_count: property_count})[0..10] AS top_owners
    """)
result6 = session.run(query6)

print(f"Group owners (Top 10) by borough:\n")
for record in result6:
    borough = record['borough']
    top_owners = record['top_owners']
    print(f"\n{borough}:")
    for owner_info in top_owners:
        owner = owner_info['owner']
        property_count = int(owner_info['property_count'])
        print(f"{owner:<30s}: {property_count:>5,d}")

Group owners (Top 10) by borough:


Bronx:
PARKS AND RECREATION          :   482
NA                            :   348
HOUSING PRESERVATION          :   199
CITY OF NEW YORK              :   145
DEPT OF ENVIRONMENTAL         :   117
DCAS                          :   113
CNY/NYCTA                     :    98
DCAS/DEPARTMENT OF ED         :    94
FIRE DEPARTMENT               :    54
NYC DEPARTMENT OF EDU         :    54

Brooklyn:
NA                            : 1,811
PARKS AND RECREATION          : 1,444
HOUSING PRESERVATION          :   652
DEPT OF ENVIRONMENTAL         :   377
CITY OF NEW YORK              :   372
DCAS                          :   350
DCAS/DEPARTMENT OF ED         :   283
CNY/NYCTA                     :   238
OWNER / AGENT                 :   199
NYC PARKS                     :   161

Manhattan:
NA                            :   891
PARKS AND RECREATION          :   369
HOUSING PRESERVATION          :   157
DEPT OF ENVIRONMENTAL         :   109
CITY OF NEW YORK              :   103
OWNER / AGENT                 :    94
DCAS                          :    80
CNY/NYCTA                     :    65
DCAS/DEPARTMENT OF ED         :    58
POLICE DEPARTMENT             :    43

Queens:
PARKS AND RECREATION          : 1,627
NA                            : 1,451
HOUSING PRESERVATION          :   714
DEPT OF ENVIRONMENTAL         :   428
CITY OF NEW YORK              :   420
DCAS                          :   402
DCAS/DEPARTMENT OF ED         :   342
CNY/NYCTA                     :   276
OWNER / AGENT                 :   228
NYC PARKS                     :   185

Staten Island:
PARKS AND RECREATION          :   691
NA                            :   691
HOUSING PRESERVATION          :   256
DEPT OF ENVIRONMENTAL         :   184
CITY OF NEW YORK              :   182
DCAS                          :   155
DCAS/DEPARTMENT OF ED         :   124
CNY/NYCTA                     :   111
OWNER / AGENT                 :   100
POLICE DEPARTMENT             :    86

### 3. Spatial analysis

In [ ]:
# Properties by borough
query7 = ("""
          MATCH (b:Borough)-[*1..3]-(p:Property)-[:MARKET_VALUE]->(marketvalue:MarketValue)
          WITH b.name AS borough, count(p) AS property_count, sum(marketvalue.value) AS total_market_value
          RETURN borough, property_count, total_market_value
          ORDER BY total_market_value DESC
          """)
result7 = session.run(query7)

print(f"Properties by borough:\n")
for record in result7:
    borough = record['borough']
    property_count = int(record['property_count'])
    total_market_value = record['total_market_value']
    print(f"{borough:<15s}: {property_count:>10,d} properties, total market value: ${total_market_value:,.0f}")

Properties by borough:

Queens         :    258,301 properties, total market value: $444,517,261,943
Brooklyn       :    244,482 properties, total market value: $404,124,272,337
Staten Island  :    102,733 properties, total market value: $175,823,425,449
Bronx          :     78,764 properties, total market value: $123,894,055,529
Manhattan      :     63,618 properties, total market value: $97,074,926,841

In [ ]:
# Properties by zip code
query8 = ("""
          MATCH (p:Property)-[:MARKET_VALUE]->(marketvalue:MarketValue)
          WITH p.zip AS zip, count(p) AS property_count, sum(marketvalue.value) AS total_market_value
          RETURN zip, property_count, total_market_value
          ORDER BY total_market_value DESC
          limit 20
          """)
result8 = session.run(query8)

print(f"Properties by zip code:\n")
for record in result8:
    if record['zip'] != 'NA':
        zip_code = int(str(record['zip']).replace('.0', ''))
    else:
        zip_code = 'NA'
    property_count = int(record['property_count'])
    total_market_value = record['total_market_value']
    print(f"Zip code: {zip_code:<10}: {property_count:>10,d} properties, total market value: ${total_market_value:,.0f}")

Properties by zip code:

Zip code: 10020     :          2 properties, total market value: $1,038,691,064
Zip code: 10007     :         10 properties, total market value: $571,699,692
Zip code: 10011     :         60 properties, total market value: $539,705,439
Zip code: 11420     :         77 properties, total market value: $443,070,000
Zip code: 10022     :         44 properties, total market value: $348,677,582
Zip code: NA        :        246 properties, total market value: $245,898,816
Zip code: 11203     :         81 properties, total market value: $208,410,517
Zip code: 10065     :         50 properties, total market value: $141,368,462
Zip code: 10002     :         14 properties, total market value: $140,411,513
Zip code: 10024     :         34 properties, total market value: $138,292,610
Zip code: 10027     :         31 properties, total market value: $131,086,621
Zip code: 10075     :         28 properties, total market value: $125,529,435
Zip code: 11234     :        207 properties, total market value: $116,737,819
Zip code: 10023     :         89 properties, total market value: $112,070,311
Zip code: 10001     :         12 properties, total market value: $108,233,389
Zip code: 11215     :         93 properties, total market value: $108,228,597
Zip code: 10019     :         78 properties, total market value: $107,425,711
Zip code: 10013     :         63 properties, total market value: $103,922,611
Zip code: 10314     :        202 properties, total market value: $98,488,489
Zip code: 11223     :        101 properties, total market value: $98,270,656

In [ ]:
# average market value of properties based on zip code of each years
query9 = ("""
          MATCH (marketvalue:MarketValue)<-[:MARKET_VALUE]-(p:Property)-[:VALUED_AT_YEAR]->(year:Year)
          WITH year.year AS year, p.zip AS zip_code, avg(marketvalue.value) AS avg_market_value
          ORDER BY year, avg_market_value DESC
          RETURN year, COLLECT({zip_code: zip_code, avg_market_value: avg_market_value})[0..10] AS top_zip_codes
          """)

result9 = session.run(query9)

print(f"Top 10 zip codes by average market value per year:\n")
for record in result9:
    year = record['year']
    top_zip_codes = record['top_zip_codes']
    print(f"In {year}:")
    for i, zip_data in enumerate(top_zip_codes):
        zip_code = str(zip_data['zip_code']).replace('.0', '')[:5]
        avg_market_value = zip_data['avg_market_value']
        print(f"{i+1}. Zip code {zip_code:<7} : Average property market value: ${avg_market_value:,.0f}")
    print("\n")

Top 10 zip codes by average market value per year:

In 2010:
1. Zip code 10005   : Average property market value: $42,371,126
2. Zip code 10027   : Average property market value: $10,034,667
3. Zip code 10075   : Average property market value: $3,427,535
4. Zip code 10455   : Average property market value: $3,010,375
5. Zip code 10303   : Average property market value: $2,473,094
6. Zip code 10028   : Average property market value: $2,066,806
7. Zip code 10304   : Average property market value: $1,925,788
8. Zip code 10014   : Average property market value: $1,617,497
9. Zip code 10001   : Average property market value: $1,540,000
10. Zip code 10018   : Average property market value: $1,433,021


In 2011:
1. Zip code 10038   : Average property market value: $13,871,550
2. Zip code 10024   : Average property market value: $10,836,433
3. Zip code 11239   : Average property market value: $5,586,000
4. Zip code 10009   : Average property market value: $5,097,667
5. Zip code 10065   : Average property market value: $4,009,740
6. Zip code 10010   : Average property market value: $3,800,583
7. Zip code 10032   : Average property market value: $3,234,000
8. Zip code 11225   : Average property market value: $2,045,333
9. Zip code 11203   : Average property market value: $2,019,286
10. Zip code 10012   : Average property market value: $1,738,296


In 2012:
1. Zip code 10004   : Average property market value: $44,748,000
2. Zip code 10001   : Average property market value: $35,761,000
3. Zip code 10022   : Average property market value: $24,133,252
4. Zip code 10451   : Average property market value: $12,144,404
5. Zip code 10018   : Average property market value: $11,281,000
6. Zip code 11237   : Average property market value: $10,237,056
7. Zip code 10014   : Average property market value: $5,608,775
8. Zip code 10037   : Average property market value: $4,964,725
9. Zip code 10075   : Average property market value: $4,527,500
10. Zip code 10463   : Average property market value: $1,972,000


In 2013:
1. Zip code 10020   : Average property market value: $519,345,532
2. Zip code 10007   : Average property market value: $11,452,639
3. Zip code 11372   : Average property market value: $6,869,312
4. Zip code 10010   : Average property market value: $6,292,663
5. Zip code 10065   : Average property market value: $4,848,901
6. Zip code 10128   : Average property market value: $3,225,264
7. Zip code 10034   : Average property market value: $3,134,000
8. Zip code 11220   : Average property market value: $2,597,568
9. Zip code 10003   : Average property market value: $2,564,677
10. Zip code 10012   : Average property market value: $2,464,036


In 2014:
1. Zip code 10457   : Average property market value: $14,197,000
2. Zip code 10112   : Average property market value: $14,074,581
3. Zip code 10022   : Average property market value: $11,525,652
4. Zip code 10027   : Average property market value: $9,260,250
5. Zip code 10013   : Average property market value: $6,555,309
6. Zip code 10033   : Average property market value: $5,787,000
7. Zip code 10065   : Average property market value: $4,272,984
8. Zip code 11212   : Average property market value: $4,156,000
9. Zip code 10023   : Average property market value: $4,054,283
10. Zip code 11355   : Average property market value: $3,840,340


In 2015:
1. Zip code 10007   : Average property market value: $270,721,042
2. Zip code 11203   : Average property market value: $11,224,800
3. Zip code NA      : Average property market value: $6,319,592
4. Zip code 11104   : Average property market value: $5,909,131
5. Zip code 10475   : Average property market value: $4,498,000
6. Zip code 10017   : Average property market value: $3,568,939
7. Zip code 10452   : Average property market value: $3,074,500
8. Zip code 10012   : Average property market value: $3,015,785
9. Zip code 10458   : Average property market value: $2,311,500
10. Zip code 11208   : Average property market value: $2,124,643


In 2016:
1. Zip code 10011   : Average property market value: $48,839,446
2. Zip code 11420   : Average property market value: $41,423,700
3. Zip code 10453   : Average property market value: $13,324,400
4. Zip code 10075   : Average property market value: $12,339,915
5. Zip code 10001   : Average property market value: $11,668,000
6. Zip code 10457   : Average property market value: $9,910,500
7. Zip code 11426   : Average property market value: $8,521,875
8. Zip code 10040   : Average property market value: $8,213,000
9. Zip code 10029   : Average property market value: $7,631,156
10. Zip code 10019   : Average property market value: $6,684,215


In 2017:
1. Zip code 10011   : Average property market value: $9,586,390
2. Zip code 10038   : Average property market value: $9,230,000
3. Zip code 10004   : Average property market value: $8,632,849
4. Zip code 10021   : Average property market value: $6,851,749
5. Zip code 10001   : Average property market value: $5,387,446
6. Zip code 10075   : Average property market value: $5,290,171
7. Zip code 10065   : Average property market value: $4,207,500
8. Zip code 10014   : Average property market value: $3,968,762
9. Zip code 10007   : Average property market value: $3,391,305
10. Zip code 11232   : Average property market value: $3,014,200


In 2018:
1. Zip code 10002   : Average property market value: $129,298,000
2. Zip code 10024   : Average property market value: $10,950,000
3. Zip code 10027   : Average property market value: $8,401,563
4. Zip code 10458   : Average property market value: $5,026,000
5. Zip code 11415   : Average property market value: $4,902,000
6. Zip code 10028   : Average property market value: $4,774,381
7. Zip code 10009   : Average property market value: $4,532,000
8. Zip code 10065   : Average property market value: $4,402,398
9. Zip code 10472   : Average property market value: $4,305,429
10. Zip code 10012   : Average property market value: $3,625,195

In [ ]:
# average market value of properties based on borough of each years
query10 = ("""
          MATCH (marketvalue:MarketValue)<-[:MARKET_VALUE]-(p:Property)-[:VALUED_AT_YEAR]->(year:Year)
          MATCH (p)-[*1..3]-(b:Borough)
          WITH year.year AS year, b.name AS borough, avg(marketvalue.value) AS avg_market_value
          RETURN year, borough, avg_market_value
          ORDER BY borough, year
          """)
result10 = session.run(query10)

print(f"Average market value by zip code and year:\n")
for record in result10:
    borough = record['borough']
    avg_market_value = record['avg_market_value']
    print(f"{borough:>15} :  Average property market value in  {record['year']} :  ${avg_market_value:,.0f}")

Average market value by zip code and year:

          Bronx :  Average property market value in  2010 :  $928,841
          Bronx :  Average property market value in  2011 :  $979,117
          Bronx :  Average property market value in  2012 :  $1,056,503
          Bronx :  Average property market value in  2013 :  $2,230,276
          Bronx :  Average property market value in  2014 :  $1,208,295
          Bronx :  Average property market value in  2015 :  $2,217,337
          Bronx :  Average property market value in  2016 :  $2,908,119
          Bronx :  Average property market value in  2017 :  $1,163,337
          Bronx :  Average property market value in  2018 :  $1,516,181
       Brooklyn :  Average property market value in  2010 :  $922,519
       Brooklyn :  Average property market value in  2011 :  $893,572
       Brooklyn :  Average property market value in  2012 :  $1,061,967
       Brooklyn :  Average property market value in  2013 :  $2,905,634
       Brooklyn :  Average property market value in  2014 :  $1,167,516
       Brooklyn :  Average property market value in  2015 :  $2,220,639
       Brooklyn :  Average property market value in  2016 :  $2,963,816
       Brooklyn :  Average property market value in  2017 :  $1,145,961
       Brooklyn :  Average property market value in  2018 :  $1,608,590
      Manhattan :  Average property market value in  2010 :  $904,726
      Manhattan :  Average property market value in  2011 :  $915,288
      Manhattan :  Average property market value in  2012 :  $1,148,438
      Manhattan :  Average property market value in  2013 :  $1,871,713
      Manhattan :  Average property market value in  2014 :  $1,240,673
      Manhattan :  Average property market value in  2015 :  $2,207,238
      Manhattan :  Average property market value in  2016 :  $2,700,268
      Manhattan :  Average property market value in  2017 :  $1,185,098
      Manhattan :  Average property market value in  2018 :  $1,589,880
         Queens :  Average property market value in  2010 :  $932,112
         Queens :  Average property market value in  2011 :  $971,192
         Queens :  Average property market value in  2012 :  $1,086,043
         Queens :  Average property market value in  2013 :  $2,572,560
         Queens :  Average property market value in  2014 :  $1,176,463
         Queens :  Average property market value in  2015 :  $2,491,839
         Queens :  Average property market value in  2016 :  $3,291,017
         Queens :  Average property market value in  2017 :  $1,215,266
         Queens :  Average property market value in  2018 :  $1,745,032
  Staten Island :  Average property market value in  2010 :  $952,100
  Staten Island :  Average property market value in  2011 :  $999,698
  Staten Island :  Average property market value in  2012 :  $1,074,997
  Staten Island :  Average property market value in  2013 :  $2,235,331
  Staten Island :  Average property market value in  2014 :  $1,192,328
  Staten Island :  Average property market value in  2015 :  $2,624,795
  Staten Island :  Average property market value in  2016 :  $3,291,605
  Staten Island :  Average property market value in  2017 :  $1,221,177
  Staten Island :  Average property market value in  2018 :  $1,837,568

### 4. Property Transaction History Analysis

In [ ]:
# all transactions of a property
query11 = ("""
          MATCH (p:Property)-[:VALUED_AT_YEAR]->(y:Year)
          MATCH (mv:MarketValue)<-[:MARKET_VALUE]-(p)-[:TRANSACTIONAL_VALUE]->(tv:TransactionalValue)
          WITH p.bble AS bble, y.year AS year, tv.value AS transactional_value, mv.value AS market_value
          RETURN bble, year, transactional_value, market_value
          ORDER BY bble, year
          limit 10
          """)
result11 = session.run(query11)

print(f"Transactions for each property:\n")
for record in result11:
    bble = record['bble']
    year = record['year']
    transactional_value = record['transactional_value']
    market_value = record['market_value']
    print(f"Property BBLE: {bble}, Year: {year}, Transaction Value: ${transactional_value:<10,.0f}, Market Value: ${market_value:,.0f}")

Transactions for each property:

Property BBLE: 1000041002, Year: 2017, Transaction Value: $3,614,931 , Market Value: $8,632,849
Property BBLE: 1000151003, Year: 2012, Transaction Value: $19,865,940, Market Value: $44,748,000
Property BBLE: 1000151224, Year: 2015, Transaction Value: $69,601    , Market Value: $174,458
Property BBLE: 1000161129, Year: 2010, Transaction Value: $57,610    , Market Value: $139,125
Property BBLE: 1000161158, Year: 2010, Transaction Value: $49,371    , Market Value: $119,232
Property BBLE: 1000161588, Year: 2014, Transaction Value: $214,123   , Market Value: $513,685
Property BBLE: 1000161735, Year: 2013, Transaction Value: $91,594    , Market Value: $222,177
Property BBLE: 1000161917, Year: 2011, Transaction Value: $173,731   , Market Value: $550,522
Property BBLE: 1000162022, Year: 2015, Transaction Value: $81,580    , Market Value: $212,060
Property BBLE: 1000162203, Year: 2018, Transaction Value: $82,443    , Market Value: $203,120

In [ ]:
# current & historic owners of a property
query12 = ("""
          MATCH (o:Owner)<-[:OWNED_BY]-(property:Property)
          MATCH (:Year {year: 2018})<-[:VALUED_AT_YEAR]-(property:Property)-[:OWNED_BY]->(current_owner:Owner)
          WITH property.bble AS bble, current_owner, COLLECT(DISTINCT o.name) AS owners
          UNWIND owners AS all_owners
          WITH bble, current_owner, owners, COLLECT(DISTINCT all_owners) AS all_owners
          RETURN bble, current_owner.name AS current_owner, [owner IN all_owners WHERE owner <> current_owner.name] AS past_owners
          limit 10
          """)
result12 = session.run(query12)

print(f"Owners of each property:\n")
for record in result12:
    bble = record['bble']
    current_owner = record['current_owner']
    past_owners = record['past_owners']
    print(f"Property BBLE: {bble}, Current Owner: {current_owner}, Past Owners: {', '.join(past_owners)}")

Owners of each property:

Property BBLE: 4012060027, Current Owner: LUIS A CHAPARRO, Past Owners:
Property BBLE: 2055230147, Current Owner: CORDOVA, JAMIL, Past Owners:
Property BBLE: 1008591332, Current Owner: KOPPISETY, JAGDISH, Past Owners:
Property BBLE: 4061860004, Current Owner: YEGHAZARIAN, FREDRIK, Past Owners:
Property BBLE: 4048610059, Current Owner: OLIVERI, GIUSEPPINA, Past Owners:
Property BBLE: 4050511009, Current Owner: HUANG, JIANSONG, Past Owners:
Property BBLE: 4028700027, Current Owner: HUI, CHIU, Past Owners:
Property BBLE: 1011711831, Current Owner: BRADY, CHRISTOPHER, Past Owners:
Property BBLE: 2038090028, Current Owner: MOHAMED F MUNIEM, Past Owners:
Property BBLE: 5032640010, Current Owner: RODRIGUEZ, MICHELLE, Past Owners:

### 5. Building and Lot Size Analysis

In [ ]:
# relationships between lot size and valuation
query13 = ("""
          MATCH (b:Building)<-[:IS_IN_BUILDING]-(p:Property)-[:VALUED_AT_YEAR]->(y:Year)
          MATCH (p)-[:MARKET_VALUE]->(mv:MarketValue)
          RETURN y.year AS year, p.bble AS bble, p.ltfront AS ltfront, p.ltdepth AS ltdepth,
                  b.bldfront AS bldfront, b.blddepth AS blddepth, mv.value AS market_value
          ORDER BY market_value desc, bble, year
          limit 10
          """)
result13 = session.run(query13)

print(f"Size and Valuation for each Property by Year:\n")
for record in result13:
    year = record['year']
    bble = record['bble']
    ltfront = record['ltfront']
    ltdepth = record['ltdepth']
    bldfront = record['bldfront']
    blddepth = record['blddepth']
    market_value = record['market_value']
    print(f"Market Value: ${market_value:>15,.0f},  Lot Width: {ltfront:>5}, Lot Depth: {ltdepth:>5}, "
    f"Building Width: {bldfront:>5}, Building Depth: {blddepth:>5}, Year: {year}, BBLE: {bble} ")
    print("------------------------------------------------------------------------------------------------------------------------------------------------")

Size and Valuation for each Property by Year:

Market Value: $  1,012,209,000,  Lot Width:   200, Lot Depth:   526, Building Width:   192, Building Depth:   494, Year: 2013, BBLE: 1010010029
--------------------------------------------------------------------------------------------------
Market Value: $    541,218,000,  Lot Width:   239, Lot Depth:   183, Building Width:   200, Building Depth:   200, Year: 2015, BBLE: 1000840036
--------------------------------------------------------------------------------------------------
Market Value: $    410,100,000,  Lot Width:  3034, Lot Depth:  1000, Building Width:   700, Building Depth:   700, Year: 2016, BBLE: 4115430002
--------------------------------------------------------------------------------------------------
Market Value: $    386,111,111,  Lot Width:   206, Lot Depth:   800, Building Width:   206, Building Depth:   800, Year: 2016, BBLE: 1007130001
--------------------------------------------------------------------------------------------------
Market Value: $    239,617,187,  Lot Width:     0, Lot Depth:     0, Building Width:    80, Building Depth:   242, Year: 2012, BBLE: 1012911303
--------------------------------------------------------------------------------------------------
Market Value: $    160,079,000,  Lot Width:   671, Lot Depth:   626, Building Width:   120, Building Depth:    45, Year: 2015, BBLE: 3048120001
--------------------------------------------------------------------------------------------------
Market Value: $    137,048,000,  Lot Width:   260, Lot Depth:   426, Building Width:     0, Building Depth:     0, Year: 2015, BBLE: 4077230010
--------------------------------------------------------------------------------------------------
Market Value: $    129,298,000,  Lot Width:   450, Lot Depth:   330, Building Width:    62, Building Depth:   215, Year: 2018, BBLE: 1002470001
--------------------------------------------------------------------------------------------------
Market Value: $     84,500,000,  Lot Width:   112, Lot Depth:   213, Building Width:   112, Building Depth:   213, Year: 2010, BBLE: 1000270009
--------------------------------------------------------------------------------------------------
Market Value: $     82,212,000,  Lot Width:   232, Lot Depth:   330, Building Width:   184, Building Depth:   295, Year: 2011, BBLE: 1000940025
--------------------------------------------------------------------------------------------------

### 6. Property Valuation by building class

In [ ]:
# property valuations by building class
query13 = ("""
          MATCH (p:Property)-[:VALUED_AT_YEAR]->(y:Year)
          MATCH (p)-[:MARKET_VALUE]->(mv:MarketValue)
          MATCH (p)-[:IS_IN_BUILDING]->(b:Building)
          WITH b.bldgcl AS bldgcl, y.year AS year, avg(mv.value) AS avg_market_value
          RETURN year, bldgcl, avg_market_value
          ORDER BY year DESC, avg_market_value DESC
          """)
result13 = session.run(query13)

print("Top 5 property valuations by building class for each year:")
prev_year = None
count = 0
for record in result13:
    year = record['year']
    if prev_year != year:
        prev_year = year
        count = 0
        print(f"\nYear: {year}")
    if count >= 5:
        continue
    count += 1
    bldgcl = record['bldgcl']
    avg_market_value = record['avg_market_value']
    print(f"{count}. Building Class: {bldgcl}, Avg. Market Value: ${avg_market_value:,.0f}")

Top 5 property valuations by building class for each year:

Year: 2018
1. Building Class: O6, Avg. Market Value: $44,280,000
2. Building Class: D6, Avg. Market Value: $44,021,667
3. Building Class: W1, Avg. Market Value: $26,857,000
4. Building Class: D4, Avg. Market Value: $19,622,000
5. Building Class: E7, Avg. Market Value: $9,298,000

Year: 2017
1. Building Class: O6, Avg. Market Value: $56,024,000
2. Building Class: V9, Avg. Market Value: $29,797,000
3. Building Class: M1, Avg. Market Value: $15,600,000
4. Building Class: D4, Avg. Market Value: $15,565,000
5. Building Class: L9, Avg. Market Value: $15,329,000

Year: 2016
1. Building Class: Q6, Avg. Market Value: $410,100,000
2. Building Class: O6, Avg. Market Value: $386,111,111
3. Building Class: D6, Avg. Market Value: $56,656,000
4. Building Class: R9, Avg. Market Value: $32,531,000
5. Building Class: Q1, Avg. Market Value: $30,110,000

Year: 2015
1. Building Class: O4, Avg. Market Value: $541,218,000
2. Building Class: I1, Avg. Market Value: $81,739,500
3. Building Class: Q1, Avg. Market Value: $68,586,500
4. Building Class: D3, Avg. Market Value: $18,410,000
5. Building Class: E7, Avg. Market Value: $11,951,000

Year: 2014
1. Building Class: O3, Avg. Market Value: $65,927,000
2. Building Class: D6, Avg. Market Value: $37,001,000
3. Building Class: H9, Avg. Market Value: $25,024,500
4. Building Class: A7, Avg. Market Value: $23,050,000
5. Building Class: Z8, Avg. Market Value: $17,065,000

Year: 2013
1. Building Class: O3, Avg. Market Value: $1,012,209,000
2. Building Class: K3, Avg. Market Value: $17,572,000
3. Building Class: D3, Avg. Market Value: $13,701,000
4. Building Class: D4, Avg. Market Value: $11,295,000
5. Building Class: A4, Avg. Market Value: $11,264,500

Year: 2012
1. Building Class: I1, Avg. Market Value: $70,209,000
2. Building Class: D6, Avg. Market Value: $56,547,000
3. Building Class: H2, Avg. Market Value: $14,975,000
4. Building Class: RR, Avg. Market Value: $12,144,404
5. Building Class: R5, Avg. Market Value: $9,708,098

Year: 2011
1. Building Class: O1, Avg. Market Value: $82,212,000
2. Building Class: D6, Avg. Market Value: $24,787,000
3. Building Class: G1, Avg. Market Value: $11,671,000
4. Building Class: Y4, Avg. Market Value: $9,692,000
5. Building Class: R9, Avg. Market Value: $6,847,000

Year: 2010
1. Building Class: D5, Avg. Market Value: $84,500,000
2. Building Class: H8, Avg. Market Value: $29,500,000
3. Building Class: W1, Avg. Market Value: $18,700,000
4. Building Class: W7, Avg. Market Value: $13,100,000
5. Building Class: D3, Avg. Market Value: $7,870,000

# **4. Plotly / Dash - Dashboards and Visualizations**
Dash can be a powerful way to visualize the insights

**Goal**: Transform the most interestign spark queries into a visually appealing and interactive charts.

*Important Notes:*
* *Plotly does not support Spark dataframes. Therefore, we have converted the Spark dataframes to Pandas dataframe to create the visualizations.*
* *As of now, each of the graphs is build on a diffeent web application. If the project is approved, the goal is to create a synchronized dashbord (as part of a website or app) so that real state investors can interact with the graphs at the same time.*

In [ ]:
#Install the library
!pip install jupyter-dash

### Average Market Value per Borough Map

In [ ]:
import plotly.express as px
from jupyter_dash import JupyterDash
from dash import dcc, html
from dash.dependencies import Input, Output
import pandas as pd

# Pivot the dataframe longer
from pyspark.sql.functions import expr

df_long = avg_valuation_by_borough_year.selectExpr("year",
                        "stack(5, 'Bronx', Bronx, 'Brooklyn', Brooklyn, 'Manhattan', Manhattan, 'Queens', Queens, 'Staten Island', `Staten Island`) as (borough, value)") \
            .orderBy("year")

# Convert PySpark DataFrame to Pandas DataFrame
df_grouped_pd = df_long.toPandas()

# Create Dash app
app = JupyterDash(__name__)

# Define app layout
app.layout = html.Div([
    dcc.Graph(id='choropleth-map'),
])

# Define callback function for updating the choropleth map figure
@app.callback(Output('choropleth-map', 'figure'),
              Input('choropleth-map', 'id'))
def update_choropleth_map(_):
    # Create Plotly figure
    fig = px.choropleth_mapbox(df_grouped_pd, geojson='https://raw.githubusercontent.com/dwillis/nyc-maps/master/boroughs.geojson',
                                featureidkey='properties.BoroName',
                                locations='borough', color='value',
                                color_continuous_scale='sunsetdark',
                                animation_frame='year',
                                mapbox_style='carto-positron',
                                center=dict(lat=40.7, lon=-73.9),
                                zoom=9,
                                opacity=0.7,
                                labels={'borough': 'Borough', 'value': 'Mean Market Value'},
                                hover_data={'borough': True, 'value': ':.2f'},
                                hover_name='borough')

    # Update hover labels
    fig.update_traces(hovertemplate='Borough: %{hovertext}<br>Mean Market Value: $%{customdata[1]:,.2f}')

    # Update figure layout
    fig.update_layout(title='Mean Market Value of Properties by Borough in NYC',
                      margin=dict(l=0, r=0, t=50, b=0),
                      showlegend=False)

    return fig

if __name__ == '__main__':
    app.run_server(mode='external')

Dash is running on http://127.0.0.1:8050/

Dash app running on http://127.0.0.1:8050/

##### **Insights / Takeaways from the map**
1. Average property values generally increased over the years in all boroughs of New York (positive trend in the New York real estate market).
2. Manhattan consistently had the highest average property values among all the boroughs throughout the years, followed by Brooklyn, Queens, Bronx, and Staten Island.
3. The increase rate in average property values varied among the boroughs. Brooklyn and Queens showed relatively higher rates of increase  (fastest growth)  compared to the other boroughs

### Average Property Valuation by Neighborhood Tabulation Area (NTA)
NTA legend is interactive. When clicking a Neighborhood, it isolates the line

a) This option shows growth

In [ ]:
import plotly.express as px
from jupyter_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import pandas as pd

# Convert Spark DataFrame to Pandas DataFrame
pandas_df = growth_area.toPandas()

# Initialize Dash app
app2 = JupyterDash(__name__)

# Define borough_names options for dropdown
borough_names_options = [{'label': borough_name, 'value': borough_name} for borough_name in pandas_df['borough_name'].unique()]

# Define layout of the app
app2.layout = html.Div([
    # Dropdown for borough_names filter
    dcc.Dropdown(
        id='borough-filter',
        options=borough_names_options,
        value=[],
        multi=True,
        placeholder='Select boroughs'
    ),
    # Chart
    dcc.Graph(id='growth-area-chart')
])

# Define callback for updating chart based on borough_names filter
@app2.callback(
    Output('growth-area-chart', 'figure'),
    [Input('borough-filter', 'value')]
)
def update_chart(borough_names):
    # Filter data based on selected borough_names
    filtered_df = pandas_df[pandas_df['borough_name'].isin(borough_names)]

    # Create Plotly visualization
    fig = px.line(filtered_df, x='year', y='growth', color='nta', title='Growth by Neighborhood Tabulation Area (NTA)',
                  hover_data={'nta': True, 'borough_name': True, 'year': False, 'growth': ':.2f'})

    # Update hover label
    fig.update_traces(hovertemplate='<br>'.join([
        'NTA: %{customdata[0]}',
        'Borough: %{customdata[1]}',
        'Growth: %{y:.2f}'
    ]))

    return fig

# Run Dash app
if __name__ == '__main__':
    app2.run_server(mode='external', port=8051)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_19064\2485708681.py:3: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
C:\Users\lenovo\AppData\Local\Temp\ipykernel_19064\2485708681.py:4: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

Dash is running on http://127.0.0.1:8051/

Dash app running on http://127.0.0.1:8051/

b) This options shows avg_val_area

In [ ]:

import plotly.express as px
from jupyter_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import pandas as pd

# Convert Spark DataFrame to Pandas DataFrame
pandas_df = growth_area.toPandas()

# Initialize Dash app
app3 = JupyterDash(__name__)

# Define borough_names options for dropdown
borough_names_options = [{'label': borough_name, 'value': borough_name} for borough_name in pandas_df['borough_name'].unique()]

# Define layout of the app
app3.layout = html.Div([
    # Dropdown for borough_names filter
    dcc.Dropdown(
        id='borough-filter',
        options=borough_names_options,
        value=[],
        multi=True,
        placeholder='Select boroughs'
    ),
    # Chart
    dcc.Graph(id='growth-area-chart')
])

# Define callback for updating chart based on borough_names filter
@app3.callback(
    Output('growth-area-chart', 'figure'),
    [Input('borough-filter', 'value')]
)
def update_chart(borough_names):
    # Filter data based on selected borough_names
    filtered_df = pandas_df[pandas_df['borough_name'].isin(borough_names)]

    # Create Plotly visualization
    fig = px.line(filtered_df, x='year', y='avg_val_area', color='nta', title='Average Market Value by Neighborhood Tabulation Area (NTA)')

    return fig

# Run Dash app
if __name__ == '__main__':
    app3.run_server(mode='external', port=8052)

Dash is running on http://127.0.0.1:8052/

Dash app running on http://127.0.0.1:8052/

Biggest takeaways:
* Stuyvesant Town-Peter Cooper Village (Manhattan property values  have shown tremendous growth vs other neighborhoods
* Riker Island in the Bronx also shows great growth

### Average Property Valuation by Building Category

In [ ]:
import pandas as pd
import plotly.express as px
from jupyter_dash import JupyterDash
from dash import dcc, html
from dash.dependencies import Input, Output
from pyspark.sql.functions import avg, round

# Convert Spark DataFrame to Pandas DataFrame
pandas_df = avg_market_value_by_building_class.toPandas()

# Initialize Dash app
app4 = JupyterDash(__name__)

# Define borough options for dropdown
borough_options = [{'label': borough, 'value': borough} for borough in pandas_df['borough'].dropna().unique()]

# Define years options for dropdown
years_options = [{'label': year, 'value': year} for year in pandas_df['year'].dropna().unique()]

# Define layout of the app
app4.layout = html.Div([
    # Dropdown for borough filter
    dcc.Dropdown(
        id='borough-filter',
        options=borough_options,
        value=[],
        multi=True,
        placeholder='Select boroughs'
    ),
    # Dropdown for year filter
    dcc.Dropdown(
        id='year-filter',
        options=years_options,
        value=None,
        multi=True,
        placeholder='Select years'
    ),
    # Chart
    dcc.Graph(id='bar-chart',
    style={'height': '700px', 'width': '100%'}  # Update height so that every bulding category is visible in the y-axis
)
])

# Define callback for updating chart based on borough and year filters
@app4.callback(
    Output('bar-chart', 'figure'),
    [Input('borough-filter', 'value'),
     Input('year-filter', 'value')]
)
def update_chart(boroughs, years):
    # Filter data based on selected boroughs and years
    filtered_df = pandas_df[pandas_df['borough'].isin(boroughs)]
    if years:
        filtered_df = filtered_df[filtered_df['year'].isin(years)]

    # Sort data by avg_market_value_building_class in descending order
    filtered_df = filtered_df.sort_values(by='avg_market_value_building_class', ascending=True)

    # Create Plotly visualization
    fig = px.bar(filtered_df, x='avg_market_value_building_class', y='bldgcl_category',
                 color='avg_market_value_building_class',
                 title='Average Property Valuation by Building Category',
                 custom_data=['borough'])  # Add custom_data to include borough names in the hover data

    # Update x and y axis labels
    fig.update_xaxes(title_text='Average Market Value')
    fig.update_yaxes(title_text='Building Category')

    # Update hover labels
    fig.update_traces(hovertemplate='Building Category: %{y}<br>' +
                                    'Average Market Value: %{x}<br>' +
                                    'Borough: %{customdata}')  # Include borough names in the hover data

    return fig


# Run the app
if __name__ == "__main__":
    app4.run_server(mode='external', port=8054)

Dash is running on http://127.0.0.1:8054/

Dash app running on http://127.0.0.1:8054/

Biggest takeaways:
* Queens much more industrial (e.g. transportation facilities are the most valuable buildings)
* Manhattan more corporate, a higher population (need for services) and tourism →  building offices, hospitals, hotels

### Borough Tax Groups: Avg. Market Values

In [ ]:
import plotly.express as px
from jupyter_dash import JupyterDash
from dash import dcc
from dash import html
from pyspark.sql.functions import count
from dash.dependencies import Input, Output


boro_taxgroups = avg_market_value_by_tax_class.toPandas()

# Initialize Dash app
app5 = JupyterDash(__name__)

# Define borough_names options for dropdown
borough_names_options = [{'label': borough_name, 'value': borough_name} for borough_name in boro_taxgroups['borough_name'].unique()]

# Define layout of the app
app5.layout = html.Div([
    # Dropdown for borough_names filter
    dcc.Dropdown(
        id='borough-filter',
        options=borough_names_options,
        value=[],
        multi=True,
        placeholder='Select boroughs'
    ),
    # Chart
    dcc.Graph(id='bar-chart')
])

# Define callback for updating chart based on borough_names filter
@app5.callback(
    Output('bar-chart', 'figure'),
    [Input('borough-filter', 'value')]
)
def update_chart(borough_names):
    # Filter data based on selected borough_names
    filtered_df1 = boro_taxgroups[boro_taxgroups['borough_name'].isin(borough_names)]

    # Create Plotly visualization
    fig = px.bar(filtered_df1, x='TAXCLASS', y='avg_market_value_by_tax_class', color='borough_name', title='Borough Tax Groups: Avg. Market Values')

    return fig

# Run Dash app
if __name__ == '__main__':
    app5.run_server(mode='external', port=8055)

Dash is running on http://127.0.0.1:8055/

Dash app running on http://127.0.0.1:8055/

### Relationship between Lot Area and Market Value

In [ ]:
import plotly.express as px
import pandas as pd
import pyspark.sql.functions as F
from jupyter_dash import JupyterDash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output

# Create a new column for the total lot area
df = df.withColumn("lotarea", F.col("ltfront") + F.col("ltdepth"))

lot_market = df.groupby('borough_name','lotarea').agg({'fullval': 'mean'}).toPandas()



app6 = JupyterDash(__name__)

# Define borough_names options for dropdown
borough_names_options = [{'label': borough_name, 'value': borough_name} for borough_name in lot_market ['borough_name'].unique()]

# Define layout of the app
app6.layout = html.Div([
    # Dropdown for borough_names filter
    dcc.Dropdown(
        id='borough-filter',
        options=borough_names_options,
        value=[],
        multi=True,
        placeholder='Select boroughs'
    ),
    # Chart
    dcc.Graph(id='scatter-chart')
])

# Define callback for updating chart based on borough_names filter
@app6.callback(
    Output('scatter-chart', 'figure'),
    [Input('borough-filter', 'value')]
)

def update_chart(borough_names):
    # Filter data based on selected borough_names
    filtered_df2 = lot_market[lot_market['borough_name'].isin(borough_names)]

    # Create Plotly visualization
    fig = px.scatter(filtered_df2, x="lotarea", y="avg(fullval)",  color='borough_name')
    fig.update_layout(title="Relationship between Lot Area and Market Value",
                   xaxis_title="Lot Area (sq ft)",
                   yaxis_title="Market Value ($)",
                   xaxis=dict(range=[0, 11000]),
                   yaxis=dict(range=[0, 2000000000]))




    return fig

# Run Dash app
if __name__ == '__main__':
    app6.run_server(mode='external', port=8056)

Dash is running on http://127.0.0.1:8056/

Dash app running on http://127.0.0.1:8056/

Biggest takeaways:
* As expected, Manhattan properties tend to be smaller, but more valuable

### Market Value vs. Actual Land Value by Borough

In [ ]:
import plotly.graph_objs as go

# group by boro and calculate the mean of avland and fullval
actual_market = df.groupby('borough_name').agg({'avland': 'mean', 'fullval': 'mean'}).toPandas()


# Create the bar graph using Plotly
fig = go.Figure()
fig.add_trace(go.Bar(
    x=actual_market['borough_name'],
    y=actual_market['avg(avland)'],
    name='Actual Land Value'
))
fig.add_trace(go.Bar(
    x=actual_market['borough_name'],
    y=actual_market['avg(fullval)'],
    name='Market Land Value'
))

# Customize the plot
fig.update_layout(
    title_x=0.5,
    barmode='group',
    xaxis_title='Borough',
    yaxis_title='Land Value',
    legend_title='Value Type',
    font=dict(size=12),
    hoverlabel=dict(bgcolor="white", font_size=12),
    title_font=dict(size=16),
    title='Market Value vs. Actual Land Value by Borough',
    width=1000,
    height=800
)


# Show the plot
fig.show()